<div class="dashsizecontainer mt-5">
    <div class="container">
        <div class="row g-4 ">
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4">
                  <h4 class="stats-type mb-1">Total Candidats</h4>
                  <div class="stats-figure">628</div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4">
                  <h4 class="stats-type mb-1">Total Employurs</h4>
                  <div class="stats-figure">628</div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4">
                  <h4 class="stats-type mb-1">Total Annonces</h4>
                  <div class="stats-figure">628</div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4">
                  <h4 class="stats-type mb-1">Total Candidats</h4>
                  <div class="stats-figure">628</div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
          </div>
        
          <h4 class="mt-4 "> Les services récents</h4>
          <!-- <div class="app-search-box bg-warning mb-3 ">
              <form class="app-search-form">   
                  <input type="text" placeholder="Search..." name="search" class="form-control search-input ">
                  <button type="submit" class="btn search-btn btn-primary" value="Search"><i class="fa-solid fa-magnifying-glass"></i></button> 
              </form>
          </div> -->
          <div class="row mt-4">
            <div class="col-lg-3 col-sm-6 ">
              <div class="card shadow-lg" style="width: 17rem;">
                <div>
                  <img  src="https://media.istockphoto.com/id/1326544964/photo/portrait-of-smiling-african-american-woman-cleaning-in-kitchen-with-rubber-gloves-cloth-and.jpg?s=612x612&w=0&k=20&c=2KHQAOpfKwM-NP9CLU1WDVzzGbmIUZdxTuXjAR5f-P8=" class="card-img-top" alt="..." style="height: 12rem;">
                  <div class="titleService">
                    <h5 class="text-center">Femme de ménage</h5>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">Des femmes de ménage expérimenté et dévouées à leur travail, pour votre satisfaction</p>
                  <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right me-2 fs-5"></span> Voir Plus</a>
                </div>
                <div class="cardfooter"></div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
              <div class="card" style="width: 17rem;">
                <div>
                  <img src="https://media.istockphoto.com/id/1356380219/photo/portrait-of-a-young-man-choosing-new-car-in-car-dealership.jpg?s=612x612&w=0&k=20&c=yfwZslUfEzk4YKB4hZiCy3w1L4IvdwbkSc7YmrrHYfE=" class="card-img-top img-fluid" alt="..." style="height: 12rem;">
                  <div class="titleService">
                    <h5 class="text-center">Chauffeur</h5>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">A la recherche de chauffeur cheuvroné et professionnel pour votre maison, travail ou votre  famille.</p>
                  <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                </div>
                <div class="cardfooter"></div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
              <div class="card" style="width: 17rem;">
                <div>
                  <img src="https://media.istockphoto.com/id/1363750899/photo/security-guard-at-live-festivale-event.jpg?s=612x612&w=0&k=20&c=0v290Xyw-UohXmzgULhc-8U6cYxkJZseZ5Bcvl7le8A=" class="card-img-top" alt="..." style="height: 12rem;">
                  <div class="titleService">
                    <h5 class="text-center">Sécurité</h5>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">Votre sécurité et bien être est leur sasser dosse , il veille jour et nuit sur votre maison et votre famille</p>
                  <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                </div>
                <div class="cardfooter"></div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 ">
              <div class="card" style="width: 17rem;">
                <div>
                  <img src="https://media.istockphoto.com/id/1433849478/photo/mother-and-baby-love.jpg?s=612x612&w=0&k=20&c=obSlXYluI87Gy9CLsw8PSDqdb3j7UduTOeUsKbRWHUs=" class="card-img-top" alt="..." style="height: 12rem;">
                  <div class="titleService">
                    <h5 class="text-center">Nounou</h5>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">Pour prendre soins de vos enfants et vous permettre de vaquer à vos obligations en toute quiétude</p>
                  <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                </div>
                <div class="cardfooter"></div>
              </div>
            </div>
            
           
          </div>
    </div>

</div>

