<div class="footercontainer" appBlueFont>
    
    <div class="row  " appBlueFont>
    <div class="footerleft  col-lg-3 col-md-3 ">
        <a href="">
            <img src=".\assets\image\logo kergui.png" alt="">
        </a>
    </div>
    <div class="footerafterleft col-lg-3 col-md-3 ">
        <ul>
            <a href="">
                <li>Accueil</li>
            </a>
            <a href="">
                <li>Contact</li>
            </a>
            <a href="">
                <li>A propos</li>
            </a>
            <a href="">
                <li>Fonctionnement</li>
            </a>
        </ul>
    </div>
    <div class="footermiddle col-lg-3 col-md-3 ">
         <ul>
            <a href="">                
                <li>Services</li>
            </a>
            <a href="">                
                <li>Services Express</li>
            </a>
            <a href="">                
                <li>Services Continue</li>
            </a>
            <a href="">                
                <li>Confidentialite</li>
            </a>
        </ul>
    </div>
    <div class="footerright col-lg-3 col-md-3  ">
         <ul class=" ">
            <a href="">
                <li>Annonces</li>
            </a>
            <a href="">
                <li>formation</li>
            </a>
            <a href="">
                <li>offre</li>
            </a>
            <a href="">
                <li>Services maison</li>
            </a>
        </ul>
    </div>
</div>
<hr class="" >
<div class="container text-center">
    <h5 class="text-white fw-lighter"><i class="bi bi-c-circle" style="color: white;"></i> Copyright Tous Droit Réservés</h5>
</div>
</div>
