.footerleft  img{
    height: 90px;
}
.footercontainer{
    height: auto;
    padding: 40px 36px;
}
.footercontainer li{
    color: white;
    font-weight: bold;
    font-size: 16px;
    list-style-type: none;
   
    padding-top: 12px;
}
.footerright{
    margin: 0 auto;
  
}
.footercontainer a{
   text-decoration: none;
}
a:hover{
   text-decoration: none;
   color: #ffc3f7;
 
}
hr{
    /* color: red; */
    border: 2px solid #ffffff;
    font-weight: bold;
    width: 80%;
    margin: 30px auto;
}