<div class="footercontainer" appBlueFont>
    
    <div class="row  " appBlueFont>
    <div class="footerleft  col-lg-3 col-md-3 ">
        <a href="">
            <img src=".\assets\image\logo kergui.png" alt="">
        </a>
    </div>
    <div class="footerafterleft col-lg-3 col-md-3 ">
        <ul>
            <a [routerLink]="['/accueil']">
                <li><span class="lnr lnr-layers me-2"  ></span> Accueil</li>
            </a>
            <a >
                <li><span class="lnr lnr-layers me-2"></span>Contact</li>
                
            </a>
            <a [routerLink]="['/a-propos']">
                <li><span class="lnr lnr-layers me-2"></span>A propos</li>
            </a>
            <a  [routerLink]="['/fonctionnement']">
                <li><span class="lnr lnr-layers me-2"></span>Fonctionnement</li>
            </a>
        </ul>
    </div>
    <div class="footermiddle col-lg-3 col-md-3 ">
         <ul>
            <a  [routerLink]="['/page-service']">                
                <li> <span class="lnr lnr-layers me-2"></span> Services</li>
            </a>
            <a href="">                
                <li> <span class="lnr lnr-layers me-2"></span> Detail service</li>
            </a>
            <a href="">                
                <li> <span class="lnr lnr-layers me-2"></span> Services Continue</li>
            </a>
            <a  [routerLink]="['/politique-confidentialite']">                
                <li> <span class="lnr lnr-layers me-2" [routerLink]="['/politique-confidentialite']"></span> Confidentialite</li>
            </a>
        </ul>
    </div>
    <div class="footerright col-lg-3 col-md-3  ">
         <ul class=" ">
            <a  [routerLink]="['/annonce']">
                <li> <span class="lnr lnr-layers me-2"></span> Annonces</li>
            </a>
            <a href="">
                <li> <span class="lnr lnr-layers me-2"></span> publicite </li>
            </a>
            <a href="">
                <li> <span class="lnr lnr-layers me-2"></span> Offre</li>
            </a>
            <a  [routerLink]="['/login']">
                <li> <span class="lnr lnr-layers me-2"></span> connexion</li>
            </a>
        </ul>
    </div>
</div>
<hr class="" >
<div class="container text-center">
    <h5 class="text-white fw-lighter"><i class="bi bi-c-circle" style="color: white;"></i> Copyright Tous Droit Réservés</h5>
</div>
</div>
