/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "~font-awesome/css/font-awesome.min.css";

body {
    font-family: 'Poppins', sans-serif;
  }


:root{
  --kergui-blue: #3A6A7E;
  --kergui-green: #FF9A00;
  --kergui-bluelight: #ACE7D2;
}

.admingestioncontainer {
  margin: 0 auto;
  margin-left: 18%;
  width: 80%;
  /* background-color: red; */
}

/* Profile Picture */
.profile-pic{
  display: inline-block;
  vertical-align: middle;
   width: 50px;
   height: 50px;
   overflow: hidden;
  border-radius: 50%;
}

.profile-pic img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
 right: 0;
 left: unset;
}
.profile-menu .fa-fw {
 margin-right: 10px;
}

.toggle-change::after {
 border-top: 0;
 border-bottom: 0.3em solid;
}

/* media queryy baniere */

@media screen and (max-width:1350px)  {
  .admingestioncontainer {
    margin: 0 auto;
    margin-left: 18%;
    width: 75%;
    /* background-color: rgb(0, 123, 255); */
  }
}
@media screen and (max-width:1290px)  {
  .admingestioncontainer {
    margin: 0 auto;
    margin-left: 20%;
    width: 76%;
    /* background-color: rgb(0, 123, 255); */
  }
}
@media screen and (max-width:1200px)  {
  .admingestioncontainer {
    margin: 0 auto;
    margin-left: 22%;
    width: 76%;
    /* background-color: rgb(0, 123, 255); */
  }
}
@media screen and (max-width:990px)  {
  .admingestioncontainer {
    margin: 0 auto;
    margin-left: 27%;
    width: 72%;
    /* background-color: rgb(0, 123, 255); */
  }
}
@media screen and (max-width:835px)  {
  .admingestioncontainer {
    margin: 0 auto;
    margin-left: 32%;
    width: 65%;
    /* background-color: rgb(0, 123, 255); */
  }
}
@media screen and (max-width:745px)  {
  .admingestioncontainer {
    margin: 0 auto;
    margin-left: 35%;
    width: 63%;
    /* background-color: rgb(0, 123, 255); */
  }
}


/* style loader */
.spinner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
  margin: 0 auto;
	border-radius: 50%;
	border: 4px solid #3A6A7E;
	border-top-color: #FF9A00;
	animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1turn);
	}
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(1turn);
	}
}

.spinner-indicator {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0000004a;
  z-index: 9999;
}

/* style loader home */


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: black;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #71dfbe;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


