/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "~font-awesome/css/font-awesome.min.css";

body {
    font-family: 'Poppins', sans-serif;
  }

  
:root{
  --kergui-blue: #3A6A7E;
  --kergui-green: #FF9A00;
  --kergui-bluelight: #ACE7D2;
}

.admingestioncontainer {
  margin: 0 auto;
  margin-left: 18%;
  width: 80%;
}



