<app-header></app-header>


<div class="homecontainer">
    <!-- baniere debut -->
    <section class="bannercontainer">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicator ">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" id="carouselcontainer">
              <div class="carousel-item active">
                <div class="banner ">
            
                    <div class="overlay"></div>
                    <h2 class="text-center  w-50 animated fadeInDown">Finis les tracasserie pour  vos recherche de
                        personnel de qualité pour votre maison</h2>
                        
                        <button class="btn "> commencer</button>
                </div>
              </div>
              
              <div class="carousel-item">
                <div class="banner">
            
                    <div class="overlay"></div>
                    <h2 class="text-center  w-50">Finis les tracasserie pour  vos recherche de
                        personnel de qualité pour votre maison</h2>
                        
                        <button class="btn "> commencer</button>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <!-- <div class="banner">
            
            <div class="overlay"></div>
            <h2 class="text-center  w-50">Finis les tracasserie pour  vos recherche de
                personnel de qualité pour votre maison</h2>
                
                <button class="btn "> commencer</button>
        </div> -->
    </section>
    <!-- baniere fin -->

    <!-- section presentation par text  debut-->
    <section class="presentation text-center">
      <div class="container">
        <h3>Nous mettons en relations les employés de maison avec les propriétaires <br> pour une satisfection de tous les parties </h3>
        <p class="mt-4">
          Les besoins des propriétaires demeurent récurent.Ce plateforme  se veut le point de rencontre qui facilite le contact  entre le propriétaire et tous professionnels des travaux  de maison. Un gain de temp et d’efficacité est la garantie de trouver le bon emploi ou employeur. En plus des annonces et offres  interessant.
        </p>
        <div class="d-flex justify-content-center ">  <button class="btn text-white mt-4 ">Consulter le guide</button> </div>
    
      </div>
    </section>
    <!--  section presentation par text fin -->

      <!-- section des informations plateforme debut -->
    <section class="plateformecontenu mt-5">
      <div class="newscontainer">
        <div class="container">
          <div class="title text-center mb-3">
            <h4 class="fw-bold"> Que vous offre la plateforme?</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="row  mt-3">
            <div class="col-md-6 col-lg-4">
              <div class="get-started text-center mb-4">
                <img src=".\assets\image\photo01.png" alt="help">
                <h3>Pour les employés?</h3>
                <p>Vous avez votre profil sur la plateforme pour etre contacter et bénéficiez des annonces et autres avantages</p>
                <a href="#" class="theme-btn btn-style-one">commencer</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="get-started text-center mb-4">
                <img src=".\assets\image\photo02.png" alt="help">
                <h3>Pour les employeurs?</h3>
                <p>Vous disposiez d'un grand nombre de profil suivant les besoins et la possibilité de poster des annonces diverses.</p>
                <a href="#" class="theme-btn btn-style-one">commencer</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="get-started text-center mb-4">
                <img src=".\assets\image\photo03.png" alt="help">
                <h3>Pou le secteur</h3>
                <p>Une base de donnée fiable et de qualité pour le secteur des traveaux de maison et pour les demandeurs </p>
                <a href="#" class="theme-btn btn-style-one">Commencer</a>
              </div>
            </div>
          
          </div>
        </div>
      </div>

    </section>
    <!-- section dees informations plateformes fin -->
   
 <!--  section service  debut -->
 <section class="services mt-5">
  <div class="container">
    <div class="title text-center">
      <h4 class="fw-bold"> Les services les plus demnadandés</h4>
      <hr class="border-3 opacity-100">
    </div>
    <div class="row mt-4">
      <div class="col-lg-3 col-sm-6 ">
        <div class="card shadow-lg" style="width: 19rem;">
          <div>
            <img  src="https://media.istockphoto.com/id/1326544964/photo/portrait-of-smiling-african-american-woman-cleaning-in-kitchen-with-rubber-gloves-cloth-and.jpg?s=612x612&w=0&k=20&c=2KHQAOpfKwM-NP9CLU1WDVzzGbmIUZdxTuXjAR5f-P8=" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="titleService">
              <h5 class="text-center">Femme de ménage</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Des femmes de ménage expérimenté et dévouées à leur travail, pour votre satisfaction</p>
            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right me-2 fs-5"></span> Voir Plus</a>
          </div>
          <div class="cardfooter"></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 ">
        <div class="card" style="width: 19rem;">
          <div>
            <img src="https://media.istockphoto.com/id/1356380219/photo/portrait-of-a-young-man-choosing-new-car-in-car-dealership.jpg?s=612x612&w=0&k=20&c=yfwZslUfEzk4YKB4hZiCy3w1L4IvdwbkSc7YmrrHYfE=" class="card-img-top img-fluid" alt="..." style="height: 12rem;">
            <div class="titleService">
              <h5 class="text-center">Chauffeur</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">A la recherche de chauffeur cheuvroné et professionnel pour votre maison, travail ou votre  famille.</p>
            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
          </div>
          <div class="cardfooter"></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 ">
        <div class="card" style="width: 19rem;">
          <div>
            <img src="https://media.istockphoto.com/id/1363750899/photo/security-guard-at-live-festivale-event.jpg?s=612x612&w=0&k=20&c=0v290Xyw-UohXmzgULhc-8U6cYxkJZseZ5Bcvl7le8A=" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="titleService">
              <h5 class="text-center">Sécurité</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Votre sécurité et bien être est leur sasser dosse , il veille jour et nuit sur votre maison et votre famille</p>
            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
          </div>
          <div class="cardfooter"></div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 ">
        <div class="card" style="width: 19rem;">
          <div>
            <img src="https://media.istockphoto.com/id/1433849478/photo/mother-and-baby-love.jpg?s=612x612&w=0&k=20&c=obSlXYluI87Gy9CLsw8PSDqdb3j7UduTOeUsKbRWHUs=" class="card-img-top" alt="..." style="height: 12rem;">
            <div class="titleService">
              <h5 class="text-center">Nounou</h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Pour prendre soins de vos enfants et vous permettre de vaquer à vos obligations en toute quiétude</p>
            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
          </div>
          <div class="cardfooter"></div>
        </div>
      </div>
      
     
    </div>
    <div class="validservice text-center m-4">
      <button class="btn fw-bold "> <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Tous les services</button>
    </div>
  </div>
</section>
<!-- section service fin -->

 <!-- Section nos chiffres debut -->
 <section class="chiffres m-5">
  <div class="chiffrecontainer" appBlueFont>
    <div class="chiffre">
      <div class="chiffreleft ">
        <div class="leftimageleft">
          <img class="img-fluid rounded-4" src=" https://media.istockphoto.com/id/1187582500/photo/hello-can-i-help-you.jpg?s=612x612&w=0&k=20&c=5knMS-vZABVJtXGGBvJx4q4WH1EKtqeJy8tvJIoA-L8=" alt="">
        </div>
        <div class="rightimageright">
          <img class="img-fluid rounded-4" src="https://media.istockphoto.com/id/1390084757/photo/one-black-woman-doing-domestic-housework-cleaning-stove.jpg?s=612x612&w=0&k=20&c=BBXRYQTOVFBC-2_fEFf3vKQk5X9D7enG-2YbVbwjw7g=" alt="">
        </div>
      </div>
      <div class="chiffreright mt-3">
        <h4 class="text-center">Nos Chiffres Réalisés</h4>
        <div class="statistique mt-5">
          
          <div class="item">
            <div class="pppp"><h1>650</h1></div>
            
            <h3>Employeur</h3>
          </div>
          <div class="item">
            <h1>800</h1>
            <h3>Candidats</h3>
          </div>
          <div class="item">
            <h1>450</h1>
            <h3>Mise en relations</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section npns chiffres fin -->


    <!-- section annonces  debut-->
    <section class="annonce">
      <div class="annoncecontainer">
        <div class="container">
          <div class="title text-center mb-3">
            <h4 class="fw-bold"> Les récentes annonces</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="row">
            <div class="col-lg-4 cardannonce">
              <div class="cardcontain">
                <div class="card border-0" style="width: 20rem;">
                  <div>
                    <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                    <div class="overlay1"></div>
                    <div class="annoncetitle text-center ">
                      <h5 class="text-white pt-2 fw-bold">Cuisinier/-ère</h5>
                    </div>
                  </div>
                  <div class="card-body ">
                  
                    <p class="card-text text-center">Pour un événement familiale, je suis à la recherche d’un cuissière expérimenté</p>
                  </div>
                  <div class="cardfooter d-flex justify-content-around">
                    <div>
                      <i class="bi bi-person-circle"></i> Rama Lo
                    </div>
                    <div>
                      <i class="bi bi-clock"></i> 21 mars 2023
                    </div>
                  </div>
                  <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                </div>

              </div>
            </div>
            <div class="col-lg-4">
              <div class="cardcontain">
                <div class="card border-0" style="width: 20rem;">
                  <div>
                    <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                    <div class="overlay1"></div>
                    <div class="annoncetitle text-center ">
                      <h5 class="text-white pt-2 fw-bold">Cuisinier/-ère</h5>
                    </div>
                  </div>
                  <div class="card-body ">
                  
                    <p class="card-text text-center">Pour un événement familiale, je suis à la recherche d’un cuissière expérimenté</p>
                  </div>
                  <div class="cardfooter d-flex justify-content-around">
                    <div>
                      <i class="bi bi-person-circle"></i> Rama Lo
                    </div>
                    <div>
                      <i class="bi bi-clock"></i> 21 mars 2023
                    </div>
                  </div>
                  <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                </div>

              </div>
            </div>
            <div class="col-lg-4  border-0">
              <div class="cardcontain">
                <div class="card" style="width: 20rem;">
                  <div>
                    <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                    <div class="overlay1"></div>
                    <div class="annoncetitle text-center ">
                      <h5 class="text-white pt-2 fw-bold">Cuisinier/-ère</h5>
                    </div>
                  </div>
                  <div class="card-body ">
                  
                    <p class="card-text text-center">Pour un événement familiale, je suis à la recherche d’un cuissière expérimenté</p>
                  </div>
                  <div class="cardfooter d-flex justify-content-around">
                    <div>
                      <i class="bi bi-person-circle"></i> Rama Lo
                    </div>
                    <div>
                      <i class="bi bi-clock"></i> 21 mars 2023
                    </div>
                  </div>
                  <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                </div>

              </div>
            </div>
          </div>
          <div class="validservice text-center m-4">
            <button class="btn fw-bold "> <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Toutes les annonces</button>
          </div>
        </div>
      </div>

    </section>

    <!-- section annonce fin -->

    <!-- section publicite  debut-->
    <section class="annonce mb-3">
      <div class="container">
        <div class="annoncecontainer">
          <img src=".\assets\image\2.png" class="img-fluid rounded-4 shadow-lg" alt="">
        </div>
    
      </div>
    </section>
    <!-- section publiciteé fin -->

<section class="temoignage mt-5">
  <div class="title text-center">
    <h4 class=" fw-bold"> Retours de nos utilisateurs</h4>
    <hr class="border-3 opacity-100">
  </div>

  <div id="carouselExampleFade"  id="toto" class="carousel slide carousel-fade mt-5 ">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="container mt-4">

          <div class="row">
            
            <div class="col-md-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container mt-3">

          <div class="row">
            
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container mt-3">

          <div class="row">
            
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card shadow-lg border-0" style="width: 18rem;">
                <div class="d-flex justify-content-around mt-2">
                  <div class="imagecard">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                  </div>
                  <div class="namecardtop">
                    <p>Ami Fall</p>
                  </div>
        
                </div>
                <div class="card-body">
                  <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
                  <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                      <i class="bi bi-person-fill me-3 align-items-center"></i>
                    </div>
                    <div class="pt-3">
                      <p class=" fw-medium">Employeur</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</section>


 
</div>

<app-footer></app-footer>