<app-header></app-header>

<div class="homecontainer">
    <!-- baniere debut -->
    <section class="bannercontainer">
        <div class="banner">
            <div class="overlay"></div>
            <h2 class="text-center  w-50">Finis les tracasserie pour  vos recherche de
                personnel de qualité pour votre maison</h2>
                
                <button class="btn "> commencer</button>
        </div>
    </section>
    <!-- baniere fin -->
    <section class="tophome">
        <div class="tophomecontainer mt-5">
            <div class="container">
                <div class="row">
                    <div class="topleft col-5">
                        <h1 class="text-black fw-bold text-center">Ker gui service est le point de rencontre qui facilite le contact  entre le proprietaire et tous professionels des traveaux  de maison</h1>
                    </div>
                    <div class="topright col-7">
                        <div class="row">
                            <div class="rightLeft col-5">
                                <img src="https://media.istockphoto.com/id/1204631540/photo/african-woman-showing-her-dish.jpg?s=612x612&w=0&k=20&c=_kh7jF9WDOe6W6U2VJfCIPT1FG1KWeliiS-mgYS0Z_Y=" alt="">
                            </div>
                            <div class="rightRight col-7">
                                <img src="https://media.istockphoto.com/id/1403196779/photo/a-happy-mixed-race-family-of-three-relaxing-in-the-lounge-and-being-playful-together-loving.jpg?s=612x612&w=0&k=20&c=O9VaPmNQ6mPu6hN196iMpkDfXUwReCLoqLegjmkam3s=" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>












<app-footer></app-footer>