<app-header></app-header>
    <div class="profilcontainer">
       <div class="detailprofilcontainer">
            <div class="imageprofil">
                <img src="https://images.unsplash.com/photo-1507152927179-bc4ebfef7103?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D" alt="">
            </div>
            <div class="profiltitle">
                <div class="d-flex justify-content-center w-25">
                    <h2 class="text-black me-4">Astou</h2> <h2 class="text-black">Seck</h2>
                </div>
                <h4 class="text-black"> Femme de menage</h4>
            </div>
            div
       </div>
    </div>

<app-footer></app-footer>