/* style profil employé */

.detailprofilcontainer {
  border-radius: 40px;
  border: 1px solid #000;
  width: 1150px;
  height: auto;
  background: rgba(152, 149, 149, 0.02);
  box-shadow: 3px 3px 4px 0px #003668, -3px -3px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 80px;
  margin:  0  auto;

}

.profilcontainer {
  margin-top: 200px;
  margin-bottom: 30px;
}


.resume-profile-pic {
  border-color: #fff
}


/* .resume-profile-pic {
  max-width: 160px;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: -80px;
  border: 8px solid #1e2738
} */

.imageprofilcontain {
  position: absolute;
  bottom: 440px;
  left: 45%;
}
.nameprofil{
  margin-top: 80px;
}
.detailprofilcontainer .imageprofil {
  width: 160px;
  height: 160px;
  border-radius: 221px;
  /* position: absolute;
  bottom: 25px; */
  border: 3px solid var(--kergui-blue);
}



.detailprofilcontainer .profiltitle .nomination {
  /* margin: 0 auto; */
}


.profilcontact {
  border-color: var(--kergui-blue);
}

.detailprofilcontainer .profilcontact {
  border-top: 3px solid var(--kergui-blue);
  border-bottom: 3px solid var(--kergui-blue);
  padding: 0.2rem;
  font-size: .875rem;
}


.profilcontact-icon {
  font-size: 2.125rem;
  vertical-align: middle;
  color: var(--kergui-blue);
}

.profilcontact-list li {
  color: var(--kergui-blue);
  font-size: 14px;

}

.information-title-icon{
  height: 35px; 
  width: 35px;
  font-size: 20px;
  border-radius: 50%;
  background-color: var(--kergui-blue);
  color: white;
}
.information-experience ul li{
  list-style-type: none;
}
.information-experience ul i{
color: var(--kergui-blue);
font-size: 18px;
font-weight: bold;
}
.joinprofil .join-icon{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid var(--kergui-blue);
  font-size: 35px;
  color: var(--kergui-blue);
}
.joinprofil .join-icon a{

  color: var(--kergui-blue);

}



/* style modal */
#phonepopup h6{
font-weight: bold;
font-size: 18px;
}
#phonepopup span{
color: var(--kergui-blue);
}
#temoignagepopup h5{
  color: var(--kergui-blue);
  font-weight: bold;
  font-size: 18px;
}




/* ;;;;;;;;;;;;;;;;;;; */


.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #fff;
}
img {

  border-radius: 10%;
  height: 60%;
  width: 50%;
}
img {
 
}
/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
color: var(--kergui-green);
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: var(--kergui-blue);
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
font-size: 18px;
}
/* .about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: var(--kergui-blue);
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
} */
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
/* background-color: var(--kergui-green); */
border-radius: 10px;
}
.about-section .counter .count {
font-weight: 700;
color:var(--kergui-green);
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}

.theme-color {
  color: var(--kergui-blue);
}
.dark-color {
  color: #20247b;
}

/* style modal sortant de droite vers guauche */
@keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.modal-slide-right .modal-dialog {
  animation: slideRightToLeft 0.60s ease;
}

#listemoignage{
  /* box-shadow: 3px 3px 4px 0px #003668, -3px -3px 4px 0px rgba(0, 0, 0, 0.25); */
  /* background-color: var(--kergui-green); */
  padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}