<app-header></app-header>
<section class="baniere">
    <div class="banner">
        <div class="overlay"></div>
        <!-- <h2 class="text-center  w-50"> Services</h2>   -->
    </div>
</section>
<section class="carteannonce mt-5">
    <div class="annoncecartecontainer">
        <div class="container">

            <div class="searchbar mb-5">
                <div class="d-flex justify-content-end">
                    <div class="input-group ">
                        <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"  aria-describedby="search-addon" [(ngModel)]="searchPublication" (input)="getArticlesPage()" />
                        <button type="button" class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
                      </div>

                </div>
              </div>
              <div class="title text-center mb-3">
                <h4 class="fw-bold"> Les annonces</h4>
                <hr class="border-3 opacity-100">
              </div>
              <div class="row">

                  <!-- <div class="row"> -->
                    <div class="col-md-6 col-lg-3" *ngFor="let element of  getArticlesPage()">
                      <div class="card card-block" >
                        <h5 class="card-title mt-2 mb-2 text-center"> {{element.profession.nom_prof}} </h5>
                        <img src="http://127.0.0.1:8000/storage/{{element.image}}" alt="Photo of sunset">
                        <h6 class="mb-2 ms-2 mt-2 text-center"> Auteur : {{element.user.prenom}} {{element.user.nom}}</h6>
                        <p class="card-text px-2">{{element.description}} </p>
                        <h5 class="card-title mt-2 mb-2 text-center"> Date limite : {{element.dateline}}  </h5>
                         <a (click)="voirDetail(element)"  [routerLink]="['/detail-offre', element.id]">
                          <h4 class="card-title text-center mt-2"><i class="material-icons">Voir Detail</i></h4>
                         </a>
                  </div>
                    </div>

                  <!-- </div> -->

                </div>


            </div>
        </div>

</section>


<!-- pagination -->
<div class="d-flex flex-wrap justify-content-center my-5 " id="pagination">
  <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn pagiColore ms-2"
          *ngFor="let page of pages"
          [class.current]="page === pageActuelle"
          (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn pagiColor ms-2"
          [disabled]="pageActuelle === totalPages"
          (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>

<app-footer></app-footer>
