<app-header></app-header>
<section class="baniere">
    <div class="banner">
        <div class="overlay"></div>
        <!-- <h2 class="text-center  w-50"> Services</h2>   -->
    </div>
</section>
<section class="carteannonce mt-5">
    <div class="annoncecartecontainer">
        <div class="container">
            
            <div class="searchbar mb-5">
                <div class="d-flex justify-content-end">
                    <div class="input-group w-50 ">
                        <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"  aria-describedby="search-addon" />
                        <button type="button" class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
                      </div>

                </div>
              </div>
              <div class="title text-center mb-3">
                <h4 class="fw-bold"> Les annonces</h4>
                <hr class="border-3 opacity-100">
              </div>
              <div class="row">
                <div class="col-lg-4 cardannonce" *ngFor="let publica of getArticlesPage()">
                  <div class="cardcontain">
                    <div class="card border-0" style="width: 20rem;">
                      <div>
                        <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                        <div class="overlay1"></div>
                        <div class="annoncetitle text-center ">
                          <h5 class="text-white pt-2 fw-bold">Offre d'emploi</h5>
                        </div>
                      </div>
                      <div class="card-body ">
                      
                        <p class="card-text text-center"> {{publica.description}} </p>
                      </div>
                      <div class="cardfooter d-flex justify-content-center">
                        <div>
                          <!-- <i class="bi bi-person-circle"></i> Rama Lo -->
                        </div>
                        <div>
                          <span class="lnr lnr-calendar-full me-3"></span>  {{publica.created_at | date:'dd-MM-yyyy'  }}
                        </div>
                      </div>
                      <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3" (click)="voirDetail(publica)"  [routerLink]="['/detail-offre']" > Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                    </div>
    
                  </div>
                </div>
               
              </div>
        </div>
    </div>
</section>


<!-- pagination -->
<div class="d-flex flex-wrap justify-content-center my-5" >
  <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn pagiColor  ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>

<app-footer></app-footer>
