.banner{
    background: url(src\assets\image\about.png);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 54, 104, 0.241); */
    
 
  }
.banner h2{
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    
    
}
.banner button{
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
    background-color : var(--kergui-green);
    
    
}
/* ttle */
hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }

  /* title fin */

  /* section firstslid debut */
.abouttopcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.abouttopcontainer .abouttopLeft{

}
.abouttopcontainer .abouttopLeft h3{
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.abouttopcontainer .abouttoprightitem{
    margin: 0 auto;
}
.abouttopcontainer .abouttopLeft p{
   text-align: start;
   font-size: 18px;
}
.abouttopcontainer .abouttopright{
    width: 467px;
    height: 387px;
    border-radius: 150px 600px 195px 200px;
    background-size: cover;
    background-repeat: no-repeat;
border: 3px solid var(--kergui-green);
/* background: url(https://media.istockphoto.com/id/1481196113/photo/young-couple-viewing-property-for-sale-talking-with-professional-real-estate-agent-outside.jpg?s=612x612&w=0&k=20&c=-vKehNKZKv6EcFmhrguHftK3TIPF_wQBlhtoiu18TFE=) ; */
}
.abouttopcontainer .abouttopright img{
    width: 467px;
    height: 387px;
    border-radius: 150px 600px 195px 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.validservice button{
    background: var(--kergui-green);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px; 
    
  }

  /* section first slide fin */

  /* section about service debut */
  .aboutservicecontainer{
      
   
  }
  .aboutservicetop {
    /* height:350px; */
  width: 75%;
  margin-left: 12%;  
  }
  .aboutservicetop .servicetopright {
  background-color: var(--kergui-blue);
    padding-top: 100px;
  }
  .aboutservicetop .servicetopright h5 {
    /* height:350px; */
 color: white;
  }
  .aboutservicetop .aboutserviceleft  {
  }
  .aboutservicetop .aboutserviceleft img {
    height:350px;
  }
  .aboutservicebottom {
    /* height:350px; */
    width: 75%;
    margin-left: 12%;
  }
  .aboutservicebottom .servicebottomleft {
background-color: var(--kergui-blue);
  }
  .aboutservicebottom .servicebottomleft {
  }
  .aboutservicebottom .servicebottomleft h5 {
    color: white;
    padding-top: 100px;
  }
  
  .aboutservicebottom .servicebottomright img {
    height:350px;
  }

  /* section about service fin */

  /* section tremoignage about deebut */

  .imagecard img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .temoignageaboutcontainer .crochet{
    color: var(--kergui-green);
    font-size: 80px;
    font-style: italic;
  }
  .temoignageaboutcontainer .crochet{
    color: var(--kergui-green);
    font-size: 30px;
   
  }
  .temoignageaboutcontainer .crochet1{
    color: var(--kergui-blue);
    font-size: 20px;
   
  }
  .temoignageaboutcontainer p{
    font-size: 14px;
  }
  /* section temoignega fin */

  /* syle annonce about debut */
  .aboutservicecontainer .card-img-top{
    height: 14rem;
  }
  .cardcontain {
   
      margin-bottom: 30px;
      box-shadow: 0px 0px 45px 5px rgba(89, 83, 76, 0.08);
      transition: .5s ease;
      border-radius: 6px;
      padding: 45px;
      /* background-color: red; */
  }
  .card{
    width: 20rem;
  }
  
  .aboutservicecontainer .cardannonce{
   position: relative;
   
  }
  .aboutservicecontainer .cardcontain:hover{
    position: relative;
      transform: translateY(-5px);
      box-shadow: 0px 0px 45px 5px rgba(89, 83, 76, 0.16);
   
  }
  
  
  .aboutservicecontainer .annoncetitle{
  background-color: var(--kergui-blue);
  padding: 2px 2px; 
  width: 50%;
  border-radius: 8px;
  position: relative;
  bottom: 200px;
  left: 20px;
  }
  .aboutservicecontainer p, #temoign{
   font-size: 18px;
  }
  .annoncetitle h5{
    font-size: 15px;
  }
  .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14rem;
    background-color: #3a6a7e57;
  }
  .aboutservicecontainer a{
    color: var(--kergui-green);
    text-decoration: none;
   
  }
  /* style annonce fin */




  /* Profile Picture */


/* media query banniere */
@media screen and (max-width:1200px) {
  .banner {
    height: 40vh;
  }
  }
  @media screen and (max-width:900px) {
  .banner {
    height: 30vh;
  }
  }
  @media screen and (max-width:700px) {
  .banner {
    height: 20vh;
  }
  }
  @media screen and (max-width:470px) {
  .banner {
    height: 15vh;
  }
  }
  @media screen and (max-width:350px) {
  .banner {
    height: 12vh;
  }
  }
  @media screen and (max-width:280px) {
  .banner {
    height: 10vh;
  }
  }

  /* media query about top  */
  @media screen and (max-width:950px) {
    .abouttopcontainer{
      display: grid;
      grid-template-columns: 1fr;
  }
  }
  @media screen and (max-width:480px) {
    .abouttopcontainer .abouttopright{
      width: 367px;
      height: 287px;
  }
  }
  @media screen and (max-width:380px) {
    .abouttopcontainer .abouttopright{
      width: 267px;
      height: 187px;
  }
  }
  /* media query card annonce */
  @media screen and (max-width: 950px) {
    .cardcontain {
      margin-bottom:30px;
      /* background-color: red; */
      width: 75%;
      margin: 0 auto;
  }
  .card{
    margin: 0 auto;
  }
  }
  @media screen and (max-width: 550px) {
    .cardcontain {
      margin-bottom:30px;
      /* background-color: red; */
      width: 75%;
      margin: 0 auto;
  }
  .card{
    margin: 0 auto;
    width: 18rem;
  }
  }
  @media screen and (max-width: 480px) {
    .cardcontain {
      margin-bottom:30px;
      /* background-color: red; */
      width: 100%;
      margin: 0 auto;
  }
  .card{
    margin: 0 auto;
    width: 18rem;
  }
  }
  @media screen and (max-width: 390px) {
    .cardcontain {
      margin-bottom:30px;
      /* background-color: red; */
      width: 100%;
      margin: 0 auto;
  }
  .card{
    margin: 0 auto;
    width: 16rem;
  }
  }
  @media screen and (max-width: 330px) {
    .cardcontain {
      margin-bottom:30px;
      /* background-color: red; */
      width: 100%;
      margin: 0 auto;
  }
  .card{
    margin: 0 auto;
    width: 14rem;
  }
  }
  @media screen and (max-width: 296px) {
    .cardcontain {
      margin-bottom:30px;
      /* background-color: red; */
      width: 100%;
      margin: 0 auto;
  }
  .card{
    margin: 0 auto;
    width: 12rem;
  }
  .card img{
  display: none;
  }
  }