<app-header></app-header>

<div class="aprposContainer">

    <!-- section banière debut -->
<section class="baniere">
    <div class="banner">
        <div class="banner">
            
            <div class="overlay"></div>
            <!-- <h2 class="text-center  w-50"> A propos</h2> -->
                
        </div>
    </div>
</section>

<!-- section banière fin -->




<!-- section about top debut -->
<section class="abouttop mt-4">
    <div class="container">

        <div class="abouttopcontainer">
            <div class="abouttopLeft pt-5">
                <h3 class="mt-3">Mettre en relation l’employeur et les employés de maison qualifiées</h3>
                <p class="mt-3">
                    Ker gui Service est un plateforme qui a pour objectif de faciliter la mise en relation entre les propriétaires de maison dans leur quêtes de personnel qualifié et les employés de maison qualifiés à la recherche d’un emploi stable et bien rémunérer.
    Ce plateforme relève le défit de l’innovation dans le secteur de la recherche de l’emploi au Sénégal.  
                </p>
                <div class="validservice text-center m-4">
                    <button class="btn fw-bold " [routerLink]="['/login']"  > <span class="lnr lnr-arrow-right  me-2 fs-5"  ></span> Commencer</button>
                  </div>
            </div>
            <div class=" abouttoprightitem">
                <div class="abouttopright  ">
                    <img class="img-fluid" src="https://media.istockphoto.com/id/1481196113/photo/young-couple-viewing-property-for-sale-talking-with-professional-real-estate-agent-outside.jpg?s=612x612&w=0&k=20&c=-vKehNKZKv6EcFmhrguHftK3TIPF_wQBlhtoiu18TFE=" alt="">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- section about top fin -->

<!-- section about service debut -->
<section class="aboutservice mt-4">
    <div class="aboutservicecontainer">
        <div class="container">
            <div class="title text-center mb-3 ">
                <h4 class="fw-bold"> Ce qu'offre la plateforme</h4>
                <hr class="border-3 opacity-100">
              </div>
              <div class="row aboutservicetop ">
                <div class="col-md-6  col-lg-6 servicetopleft  p-0">
                    <img class="img-fluid w-100" src="https://media.istockphoto.com/id/1314744200/photo/woman-wiping-surface-at-home.jpg?s=612x612&w=0&k=20&c=-rvfS3z9MDFuH_YWGwn20eMFfNno1bIoARLtNyfjqBM=" alt="">
                </div>
                <div class="col-md-6 col-lg-6 servicetopright ">
                    <h5 class="text-center fw-bold ">Pour vos travaux de maison des professionnels sont mise à la disposition des potentiels demandeurs, pour une mise en relation direct et rapide en vue de satisfaire les deux parties. </h5>
                </div>
              </div>
              <div class="row aboutservicebottom">
                    <div class=" col-md-6 col-lg-6 servicebottomleft ">
                       <h5 class="text-center fw-bold "> Pour des travaux imprévus ou tous dépannages dans votre maison. Des professionnels sont mis à votre disposition. Avec le possibilité d’être vite mis en relations </h5>
                    </div>
                    <div class=" col-md-6 col-lg-6 servicebottomright p-0">
                        <img src="https://media.istockphoto.com/id/1361116682/photo/plumber-fixing-a-leaking-bathroom-faucet.jpg?s=612x612&w=0&k=20&c=THa1uoYgW4gGz0C8YMqenM58UFY-uD1X79dP3obYLLI=" class="img-fluid w-100" alt="">
                    </div>
              </div>
    
        </div>
          

    </div>
</section>
<!-- secton about service fin -->

<!-- section annonce about debut -->
<section class="aboutannonce mt-4">
    <div class="aboutservicecontainer">
        <div class="container">
            <div class="title text-center mb-3 ">
                <h4 class="fw-bold"> Des annonces et offres pour vous</h4>
                <hr class="border-3 opacity-100">
              </div>

              <p class="text-center mb-5">Ker gui service met à votre disposition la possibilité de poster des annonces ou offres d'emploi, en vue de trouver le public concerné. Vos annOnces sont consulter par les utilisateurs qualifiés avec la possibilité de postuler et satisfaire à vos demandes.</p>
              <div class="row row-gap-3">
                <div class="col-lg-4 cardannonce">
                  <div class="cardcontain">
                    <div class="card border-0">
                      <div>
                        <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                        <div class="overlay1"></div>
                        <div class="annoncetitle text-center ">
                          <h5 class="text-white pt-2 fw-bold">Cuisinier/-ère</h5>
                        </div>
                      </div>
                      <div class="card-body ">
                      
                        <p class="card-text text-center">Pour un événement familiale, je suis à la recherche d’un cuissière expérimenté</p>
                      </div>
                      <div class="cardfooter d-flex justify-content-around">
                        <div>
                          <i class="bi bi-person-circle"></i> Rama Lo
                        </div>
                        <div>
                          <i class="bi bi-clock"></i> 21 mars 2023
                        </div>
                      </div>
                      <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                    </div>
    
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="cardcontain">
                    <div class="card border-0" >
                      <div>
                        <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                        <div class="overlay1"></div>
                        <div class="annoncetitle text-center ">
                          <h5 class="text-white pt-2 fw-bold">Cuisinier/-ère</h5>
                        </div>
                      </div>
                      <div class="card-body ">
                      
                        <p class="card-text text-center">Pour un événement familiale, je suis à la recherche d’un cuissière expérimenté</p>
                      </div>
                      <div class="cardfooter d-flex justify-content-around">
                        <div>
                          <i class="bi bi-person-circle"></i> Rama Lo
                        </div>
                        <div>
                          <i class="bi bi-clock"></i> 21 mars 2023
                        </div>
                      </div>
                      <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                    </div>
    
                  </div>
                </div>
                <div class="col-lg-4  border-0">
                  <div class="cardcontain">
                    <div class="card" >
                      <div>
                        <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                        <div class="overlay1"></div>
                        <div class="annoncetitle text-center ">
                          <h5 class="text-white pt-2 fw-bold">Cuisinier/-ère</h5>
                        </div>
                      </div>
                      <div class="card-body ">
                      
                        <p class="card-text text-center">Pour un événement familiale, je suis à la recherche d’un cuissière expérimenté</p>
                      </div>
                      <div class="cardfooter d-flex justify-content-around">
                        <div>
                          <i class="bi bi-person-circle"></i> Rama Lo
                        </div>
                        <div>
                          <i class="bi bi-clock"></i> 21 mars 2023
                        </div>
                      </div>
                      <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> Voir annonce <span class="lnr lnr-arrow-right"></span></a>
                    </div>
    
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<!-- section about fin -->

<!-- section temoignage debut -->
<!-- <section class="abouttemoignage mt-4">
<div class="temoignageaboutcontainer">
    <div class="container">
    <div class="title text-center mb-3 ">
        <h4 class="fw-bold"> Ils nous ont fait confiance</h4>
        <hr class="border-3 opacity-100">
      </div>
      <div class="container">
        <p id="temoign" class="text-center mb-3">Des employeurs satisfaites par le service rendue par notre plateforme et de la qualité des employé, avec qui ils ont eut à collaborer ont tenue témoigner sur leur expériences.</p>

      </div>
      <div class="row">
            
        <div class="col-md-6 col-lg-3">
          <div class="card shadow-lg border-0" style="width: 19rem;">
            <div class="d-flex justify-content-around mt-2">
              <div class="imagecard">
                <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
              </div>
              <div class="namecardtop">
                <p>Ami Fall</p>
              </div>
    
            </div>
            <div class="card-body">
              <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
              <div class="d-flex justify-content-center align-items-center ">
                <div class="">
                  <i class="bi bi-person-fill me-3 align-items-center"></i>
                </div>
                <div class="pt-3">
                  <p class=" fw-medium">Employeur</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card shadow-lg border-0" style="width: 19rem;">
            <div class="d-flex justify-content-around mt-2">
              <div class="imagecard">
                <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
              </div>
              <div class="namecardtop">
                <p>Ami Fall</p>
              </div>
    
            </div>
            <div class="card-body">
              <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
              <div class="d-flex justify-content-center align-items-center ">
                <div class="">
                  <i class="bi bi-person-fill me-3 align-items-center"></i>
                </div>
                <div class="pt-3">
                  <p class=" fw-medium">Employeur</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card shadow-lg border-0" style="width: 19rem;">
            <div class="d-flex justify-content-around mt-2">
              <div class="imagecard">
                <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
              </div>
              <div class="namecardtop">
                <p>Ami Fall</p>
              </div>
    
            </div>
            <div class="card-body">
              <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
              <div class="d-flex justify-content-center align-items-center ">
                <div class="">
                  <i class="bi bi-person-fill me-3 align-items-center"></i>
                </div>
                <div class="pt-3">
                  <p class=" fw-medium">Employeur</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card shadow-lg border-0" style="width: 19rem;">
            <div class="d-flex justify-content-around mt-2">
              <div class="imagecard">
                <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
              </div>
              <div class="namecardtop">
                <p>Ami Fall</p>
              </div>
    
            </div>
            <div class="card-body">
              <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>  
              <div class="d-flex justify-content-center align-items-center ">
                <div class="">
                  <i class="bi bi-person-fill me-3 align-items-center"></i>
                </div>
                <div class="pt-3">
                  <p class=" fw-medium">Employeur</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section> -->

<!-- section temoignage fin -->




</div>


<app-footer></app-footer>
