<div class="admingestioncontainer mt-5">

  <div class="d-flex justify-content-between">

    <div class="ajoutservicebutton">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"> Ajouter <i class="bi bi-plus-square-fill ms-2"></i></a>
    </div>
    <div class="ajoutservicebutton">
        <a  > test<i class="bi bi-plus-square-fill ms-2"></i></a>
    </div>
    <div class="ajoutservicebutton">
        <!-- <a routerLink="/admin-employeur/liste-publication-employeur" > Suivie des publications <span class="lnr lnr-paperclip ms-2"></span></a> -->
    </div>
  </div>
    <h4 class="mt-4">Listes des publications</h4>

        <div class="row mt-4">
            <div class="col-lg-4 cardannonce" *ngFor="let element of dataPublication">
              <ng-container  *ngIf="element.user_id === userConnect.id" >

                <div class="cardcontain">
                  <div class="card border-0" style="width: 20rem;">
                    <div>
                      <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                      <div class="overlay1"></div>
                      <div class="annoncetitle text-center ">
                        <h5 class="text-white pt-2 fw-bold"> {{element.nom_prof}} </h5>
                      </div>
                    </div>
                    <div class="card-body ">
                    
                      <p class="card-text text-center">{{element.description}}</p>
                    </div>
                    <div class="cardfooter d-flex justify-content-around">
                      <!-- <div>
                        <i class="bi bi-person-circle"></i> {{element.user_id}}
                      </div> -->
                      <div class="mt-1 mb-2">
                        <span class="lnr lnr-calendar-full me-2 "></span> {{element.created_at | date:'dd-MM-yyyy'  }}
                      </div>
                    </div>
                    <div class="iconegestion d-flex justify-content-around w-50 mb-1  mt-1">
                      <a href=""   data-bs-toggle="modal" data-bs-target="#exampleModal-detail" (click)="detailPublication(element)"><i class="bi bi-eye"></i></a>
                      <a   data-bs-toggle="modal" data-bs-target="#exampleModal-modifier" (click)="chargerPublication(element)" ><span class="lnr lnr-pencil"></span></a>
                      <button class="bg-white"  (click)="supprimerProfession(element.id)" > <span class="lnr lnr-trash"></span></button>
                  </div>
                    <button href="" class="text-center validpubli text-decoration-none py-1  mt-1"  [routerLink]="['/admin-employeur/detail-liste-publication-employeur',element.id]" > Suivie Annonce <span class="lnr lnr-arrow-right ms-2"></span></button>
                  </div>
  
                </div>
              </ng-container>
              
            </div>
           
          </div>
        

<!-- Modal ajout services -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  
</div>
<!-- Modal ajout debut -->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Ajouter une publication</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
            <form action="">
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Profession</label>
                    <select class="form-select" aria-label="Sélectionner profession" name="profession_id" [(ngModel)]="profession_id" >
                      <!-- <option value="">Sélectionner profession</option> -->
                      <option *ngFor="let profession of professionData" [value]="profession.id">{{ profession.nom_prof }}</option>
                    </select>
                    <!-- <input type="number" class="form-control" placeholder="profession"  name = "profession_id" [(ngModel)]="profession_id"> -->
                  </div>
                <div class="mb-3"> 
                    <label for="lieu" class="form-label">Adresse</label>
                    <input type="text" class="form-control" name="lieu" id="lieu" placeholder="adresse" [(ngModel)]="lieu">
                  </div>
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Experience</label>
                    <input type="text" class="form-control" name="experience" id="profession" placeholder="experience" [(ngModel)]="experienceMinimum" >
                  </div>
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Salaire</label>
                    <input type="text" class="form-control" name="slaireMinimum " id="profession" placeholder="salaire" [(ngModel)]="slaireMinimum" >
                  </div>
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Type de contrat</label>
                    <input type="text" class="form-control" name=" 	typeContrat " id="profession" placeholder="c00ontrat" [(ngModel)]="typeContrat"  >
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4" [(ngModel)]="description" ></textarea>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button (click)="ajouterPublicatin ()" > Ajouter</button>
                    <a href="" class="bg-secondary" data-bs-dismiss="modal"> Annuler</a>
                  </div>
            </form>
        </div>
     
      </div>
    </div>
  </div>

<!-- modal ajout fin -->

<!-- modal modification debut  -->

<div class="modal fade " id="exampleModal-modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel">Ajouter une publication</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  ">
          <form action="">
              <div class="mb-3">
                  <label for="nom_prof" class="form-label">Profession</label>
                  <input type="number" class="form-control" name="profession_id" id="profession" placeholder="profession" [(ngModel)]=" profession_id" >
                </div>
              <div class="mb-3"> 
                  <label for="lieu" class="form-label">Adresse</label>
                  <input type="text" class="form-control" name="lieu" id="lieu" placeholder="adresse" [(ngModel)]="lieu">
                </div>
              <div class="mb-3">
                  <label for="nom_prof" class="form-label">Experience</label>
                  <input type="text" class="form-control" name="experience" id="profession" placeholder="experience" [(ngModel)]="experienceMinimum" >
                </div>
              <div class="mb-3">
                  <label for="nom_prof" class="form-label">Salaire</label>
                  <input type="text" class="form-control" name="slaireMinimum " id="profession" placeholder="salaire" [(ngModel)]="slaireMinimum" >
                </div>
              <div class="mb-3">
                  <label for="nom_prof" class="form-label">Type de contrat</label>
                  <input type="text" class="form-control" name=" 	typeContrat " id="profession" placeholder="c00ontrat" [(ngModel)]="typeContrat"  >
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4" [(ngModel)]="description" ></textarea>
                </div>
                <div class="validajout d-flex justify-content-end">
                  <button data-bs-dismiss="modal" (click)="modifierProfession()" > Modifier</button>
                  <a href="" class="bg-secondary" data-bs-dismiss="modal"> Annuler</a>
                </div>
          </form>
      </div>
   
    </div>
  </div>
</div>
<!-- modal modification fin -->

<!-- modal  detail  -->

<div class="modal fade " id="exampleModal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h5 class="modal-title  " id="exampleModalLabel">Detail profession</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  ">
         
            
                <div class="" >
                 <div class="row">
                  <div class="col-4 " id="tof">
                      <img src="" alt="">
                  </div>
                  <div class="col-8 ">
                      <div class="d-flex mb-2">
                          <h6>prenom :   </h6>
                          <h6 class="ms-3">nom :  </h6>
                      </div>
                      
                      <div class="d-flex mb-2">
                          <h6> mail:  </h6>
                          <h6 class="ms-3">  </h6>
                      </div>
                      <div class="d-flex mb-2">
                          <h6> Adresse:  </h6>
                          <h6 class="ms-3">Telephone :  </h6>
                      </div>
                      <div>
                          <h6>presentation</h6>
                      </div>
                      <div>
                          <p>  </p>
                      </div>
                  </div>
                 </div>
                </div>
                <div class="validajout d-flex justify-content-end">
                  <button href="" class="bg-secondary" data-bs-dismiss="modal"> Fermer</button>
                </div>

                
         
      </div>
   
    </div>
  </div>
</div>
<!-- modal fin -->

