.ajoutservicebutton a{
    padding: 8px 20px;
    background-color: var(--kergui-blue);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
#tof img{
    height : 100px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid var(--kergui-green);
  }

h4{
    color: var(--kergui-blue);
}
h5{
    color: var(--kergui-green);
    font-weight: bold;
}
.iconegestion {
    margin: 0 auto;

}
.iconegestion a , .iconegestion button{
    text-decoration: none;
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 18px;
    border: none;
}
.iconegestion a:hover{
   color: var(--kergui-green);
}

#description p {
    height: 7.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    /* overflow-y: auto; */
}

.u-shadow-v11 {
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}
.g-px-30 {
    padding-left: 2.14286rem !important;
    padding-right: 2.14286rem !important;
}
.g-bg-white {
    background-color: #fff !important;
}

/* style formulaire */
.validajout button{
    padding: 8px 25px;
    background-color: var(--kergui-blue);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;

}
.modal-header{
    background-color: var(--kergui-blue);
}
.modal-body label {
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 18px;
}
.modal-body input{
    height: 45px;
}
.modal-title{
    /* color: var(--kergui-green); */

}
.validajout a{

}

/* style carte */
 .card-img-top{
    height: 14rem;
  }
  .cardcontain {

      margin-bottom: 30px;
      box-shadow: 0px 0px 45px 5px rgba(89, 83, 76, 0.08);
      transition: .5s ease;
      border-radius: 6px;
      padding: 45px;
      /* background-color: red; */
  }

   .cardannonce{
   position: relative;

  }
   .cardcontain:hover{
    position: relative;
      transform: translateY(-5px);
      box-shadow: 0px 0px 45px 5px rgba(89, 83, 76, 0.16);

  }



   .annoncetitle{
  background-color: var(--kergui-blue);
  padding: 2px 2px;
  width: 50%;
  border-radius: 8px;
  position: relative;
  bottom: 200px;
  left: 20px;
  }
  .annoncetitle h5{
    font-size: 15px;
  }
  .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14rem;
    background-color: #3a6a7e57;
  }
   .validpubli{
    color: white;
    text-decoration: none;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* padding: 4px 2px; */
    background-color: var(--kergui-green);

  }
  /* style annonce fin */


  #description p {
    height: 7.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    /* overflow-y: auto; */
}

  #description h5{
 color: var(--kergui-blue);
 font-size: 16px;
}
  #description h6{
 color:black;
 font-size: 16px;
}

.searchbar  button{
    background-color: var(--kergui-blue);
  }


 /* style pagination debut */


 .pagiColor {
    background-color: var(--kergui-blue);
    color: white;
  }
  .pagiColore.current {
    background-color: var(--kergui-blue);
    color: white;
  }
  .pagiColore {
    border:1px solid  var(--kergui-blue);
    color: var(--kergui-blue);
  }
  #pagination{
    margin-left: 180px;
    margin-top: 20px;
  }

   /* style pagination fin */


   .btn-custom:disabled {
    opacity: 0.7; /* Réduire l'opacité du bouton */
    cursor: not-allowed; /* Changer le curseur en "non autorisé" */
    background-color: var(--kergui-green);
    /* text-decoration: line-through;
    text-decoration-thickness: 2px;  */
  }


  img{
    height:12rem;
    width:100%;
  }

  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.8s;
    cursor:pointer;
    height: 28rem;
    width: 20rem;
  }
  .card p{
    height: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-title{
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .card-title i{
    font-size:18px;
    transition:1s;
    cursor:pointer;

    color:var(--kergui-green)
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg);
    color:var(--kergui-blue)

  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px  #3a6a7ec4;
  }
  .card-text{
    height:80px;
  }

  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  /* style validation */
  .message-success {
    color: green;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding-top: 4px;
    /* Ajoutez d'autres styles CSS selon vos besoins */
}
.message-erreur {
    color: red;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding-top: 0.5px;
    /* Ajoutez d'autres styles CSS selon vos besoins */
}
