<div class="admingestioncontainer mt-5">
    <div class="ajoutservicebutton">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal"> Ajouter <i class="bi bi-plus-square-fill ms-2"></i></a>
    </div>
    <h4 class="mt-4">Listes des publications</h4>

        <div class="row mt-4">
            <div class="col-lg-4 cardannonce" *ngFor="let element of dataPublication.data">
              <div class="cardcontain">
                <div class="card border-0" style="width: 20rem;">
                  <div>
                    <img src="https://media.istockphoto.com/id/1183604411/photo/chef-preparing-dish.jpg?s=612x612&w=0&k=20&c=EtSakYnEIdbeZI4zBWKVa4J85MqqkHiZSh243cMYcMk=" class="card-img-top" alt="...">
                    <div class="overlay1"></div>
                    <div class="annoncetitle text-center ">
                      <h5 class="text-white pt-2 fw-bold"> {{element.nom_prof}} </h5>
                    </div>
                  </div>
                  <div class="card-body ">
                  
                    <p class="card-text text-center">{{element.description}}</p>
                  </div>
                  <div class="cardfooter d-flex justify-content-around">
                    <div>
                      <i class="bi bi-person-circle"></i> {{element.user_id}}
                    </div>
                    <div>
                      <i class="bi bi-clock"></i>{{element.created_at}}
                    </div>
                  </div>
                  <a href="" class="text-center text-decoration-none me-2 pb-2 mt-3"> publier <span class="lnr lnr-arrow-right"></span></a>
                </div>

              </div>
            </div>
           
          </div>
        

<!-- Modal ajout services -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  
</div>
<!-- Modal ajout debut -->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Ajouter une publication</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
            <form action="">
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Profession</label>
                    <input type="text" class="form-control" name="nom_prof" id="profession" placeholder="profession" >
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4"  ></textarea>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button > Ajouter</button>
                    <a href="" class="bg-secondary" data-bs-dismiss="modal"> Annuler</a>
                  </div>
            </form>
        </div>
     
      </div>
    </div>
  </div>

<!-- modal ajout fin -->

<!-- modal modification debut  -->

<div class="modal fade " id="exampleModal-modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Modifier un service</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
            <form action="">
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Profession</label>
                    <input type="text" class="form-control" name="nom_prof" id="profession" placeholder="profession"  >
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4" ></textarea>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button href="" type="submit"> Modifier</button>
                    <button href="" class="bg-secondary" data-bs-dismiss="modal"> Annuler</button>
                  </div>
            </form>
        </div>
     
      </div>
    </div>
  </div>
<!-- modal modification fin -->
