#menu{
    background-color: var(--kergui-blue);
    height: 90px;
  }
  #menu ul li a{
   color: #fff;
   font-weight: bold;
   font-size: 18px;
  }
  #logoheader img{
    height: 70px;
    margin-left: 20px ;
}
.profile-pic{
  display: inline-block;
  vertical-align: middle;
   width: 50px;
   height: 50px;
   overflow: hidden;
  border-radius: 50%;
}

.profile-pic img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
 right: 0;
 left: unset;
}
.profile-menu .fa-fw {
 margin-right: 10px;
}

.toggle-change::after {
 border-top: 0;
 border-bottom: 0.3em solid;
}

#navright li button{
  background-color: var(--kergui-green);

}