.card-body img{
    border-radius: 50%;
    border: 1px solid var(--kergui-blue);
    box-shadow: 2px 4px 3px 0px var(--kergui-blue);
    margin:  0 auto;
}
.card{
    border: 1px solid var(--kergui-blue);
}
small{
    color: var(--kergui-blue);
}
.form-group button{
    background-color: var(--kergui-green);
}
#imgProfil img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
.form-group{
    margin: 0 auto;
}