.contactcontainer{
  margin-top: 150px;
  
}
.contactcontainer #contactinfo{
 background-color: var(--kergui-blue);
  height: 450px;
  border-radius: 10px;
  padding-top: 50px;
}
.contactcontainer #contactinfo .form-group{
margin: 0 auto;
}
.contactcontainer #contactcoordonnee{
  border-radius: 10px;
  background: #FFF;
  height: 450px;
  box-shadow: 9px -4px 0px 0px #3A6A7E, 9px 4px 4px 0px #3A6A7E, 0px 4px 4px 0px #3A6A7E;
}
.iconecontact{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--kergui-blue);
}