<app-header></app-header>

<div class="contactcontainer">
   <div class="container">
      <div class="row">
         <div class="col-8 w-50 text-center" id="contactinfo">
            <h4>Nous Contacter</h4>
            <form action="">
               <div class="form-group col-8 mt-4">
                  <input type="text" class="form-control p-2" placeholder="Nom">
               </div>
               <div class="form-group col-8 mt-4">
                  <input type="email" class="form-control p-2" placeholder="Prénom">
               </div>
               
<div class="form-group col-8 mt-4">
  <textarea class="form-control p-4" id="id"></textarea>
</div>              
            </form>
         </div>
         <div class="col-4 text-center" id="contactcoordonnee">
            <h6><i class="bi bi-phone-fill"></i> Appelez-nous</h6>
            <p>+221778315292</p>
            <h6><i class="bi bi-geo-alt-fill"></i> Adresse</h6>
            <p>Rufique, Dakar</p>
            <div>
               <h6>Réseaux sociaux</h6>
               <div class="d-flex justify-content-center ">
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-instagram" style="font-size: 20px; color: white;"></i>
                  </div>
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-facebook" style="font-size: 20px; color: white;"></i>
                  </div>
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-twitter-x" style="font-size: 20px; color: white;"></i>
                  </div>
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-youtube"  style="font-size: 20px; color: white;"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<app-footer></app-footer>