<app-header></app-header>

<div class="contactcontainer">
   <div class="container">
      <div class="" id="contactall">
         <div class="col-8 text-center" id="contactinfo">
            <h4>Nous Contacter</h4>
            <form action="">
               <div class="form-group col-10 mt-4">
                  <input type="text" class="form-control p-2" placeholder="Nom">
               </div>
               <div class="form-group col-10 mt-4">
                  <input type="email" class="form-control p-2" placeholder="Prénom">
               </div>
               
<div class="form-group col-10 mt-5">
  <textarea class="form-control p-5" id="id"></textarea>
</div>     
<div class="">
   <a class="btn boutoncontact">Soumettre</a>
</div>         
            </form>
         </div>
         <div class="col-4 text-center" id="contactcoordonnee">
            <div class="">
               <h6><i class="bi bi-phone-fill me-2"></i> Appelez-nous</h6>
               <p>+221778315292</p>
            </div>
            <div class="mb-4">
               <h6><i class="bi bi-geo-alt-fill me-2"></i> Emplacement</h6>
               <p>Rufique, Dakar</p>
            </div>
            <div class="mb-4">
               <h6 class="m-3">Réseaux sociaux</h6>
               <div class="d-flex justify-content-center ">
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-instagram" style="font-size: 20px; color: white;"></i>
                  </div>
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-facebook" style="font-size: 20px; color: white;"></i>
                  </div>
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-twitter-x" style="font-size: 20px; color: white;"></i>
                  </div>
                  <div class="iconecontact d-flex justify-content-center align-items-center">
                     <i class="bi bi-youtube"  style="font-size: 20px; color: white;"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<app-footer></app-footer>