<app-header></app-header>
<section class="baniere">
    <div class="banner">
        <div class="overlay"></div>
        <h2 class="text-center  w-50"> Detail offre</h2>  
    </div>
</section>

<section class="detailannonce">
    <div class="detailcontainer">
        <div class="container">
            <div class="title text-center mb-3">
                <h4 class="fw-bold"> Les annonces</h4>
                <hr class="border-3 opacity-100">
              </div>
              <article *ngIf="dataDetail" >
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Detail de l'annoce</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Poster le {{dataDetail.created_at}} </div>
                 
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!"> Profession</a>
                    <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4"> {{dataDetail.description}} </p>
            
                    
                </section>

                <footer class="d-flex justify-content-between">
                    <div>
                        <h6 class="badge bg-primary " > Experince Profession : {{dataDetail.experienceMinimum}} </h6>
                    </div>
                    <div>
                        <h6 class="badge bg-primary " > Salaire :  {{dataDetail.slaireMinimum}}</h6>
                    </div>
                    <div>
                        <h6 class="badge bg-primary " > Adresse :  {{dataDetail.lieu}} </h6>
                    </div>
                </footer>

                <div class="postulation text-center">
                    <button class="postuler mt-4 mb-4" (click)="Candididater(dataDetail.id)">Postuler à cette offre</button>
                </div>
            </article>
       
        </div>
    </div>
</section>


<app-footer></app-footer>