hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }
  
  
  /* style baniere */
  .banner{
      background: url(src\assets\image\annonce4.png);
      height: 80vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;
  
  }
  #carouselcontainer{
      height: 80vh;
  }
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 54, 104, 0.5); */
      
   
    }
  .banner h2{
      font-size: 40px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      
      
  }
  h6{
    font-size: 17px;
  }
  .postuler{
    background-color: var(--kergui-blue);
    color: white;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    margin: 0 auto;
  }
  .well{
    border-radius: 15px;
    box-shadow: 4px -4px 0px 0px #3A6A7E, 4px 4px 4px 0px #3A6A7E, 0px 4px 4px 0px #3A6A7E;
  }
  .badge{
    background-color: #3A6A7E;
  }

  /* media query baniere */
  @media screen and (max-width:1200px) {
    .banner {
      height: 40vh;
    }
    }
    @media screen and (max-width:900px) {
    .banner {
      height: 30vh;
    }
    }
    @media screen and (max-width:700px) {
    .banner {
      height: 20vh;
    }
    }
    @media screen and (max-width:470px) {
    .banner {
      height: 15vh;
    }
    }
    @media screen and (max-width:350px) {
    .banner {
      height: 12vh;
    }
    }
    @media screen and (max-width:280px) {
    .banner {
      height: 10vh;
    }
    }

