<app-header></app-header>
<div class="servicecontainer">
    <!-- section baniere debut-->

    <section class="banner">
        <section class="baniere">
                    <div class="banner">
                        <div class="overlay"></div>
                        <h2 class="text-center  w-50"> Services</h2>  
                    </div>
        </section>
    </section>
    <!-- section baniere fin -->
    <!-- section carte service debut -->

    <section class="carteservice m-5">
        <div class="carteservicecontainer">
            <div class="container">
              <div class="searchbar mb-5">
                <div class="d-flex justify-content-end">
                    <div class="input-group w-50 ">
                        <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"  aria-describedby="search-addon" />
                        <button type="button" class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
                      </div>

                </div>
              </div>
                <div class="title text-center mb-3">
                    <h4 class="fw-bold"> Les services</h4>
                    <hr class="border-3 opacity-100">
                  </div>
                <div class="row row-gap-4">
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="card shadow-lg" style="width: 19rem;">
                          <div>
                            <img  src="https://media.istockphoto.com/id/1326544964/photo/portrait-of-smiling-african-american-woman-cleaning-in-kitchen-with-rubber-gloves-cloth-and.jpg?s=612x612&w=0&k=20&c=2KHQAOpfKwM-NP9CLU1WDVzzGbmIUZdxTuXjAR5f-P8=" class="card-img-top" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Femme de ménage</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">Des femmes de ménage expérimenté et dévouées à leur travail, pour votre satisfaction</p>
                            <a  class=" text-decoration-none me-4 d-flex justify-content-center" [routerLink]="['/detail-service']">  <span class="lnr lnr-arrow-right me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                        <div class="card" style="width: 19rem;">
                          <div>
                            <img src="https://media.istockphoto.com/id/1356380219/photo/portrait-of-a-young-man-choosing-new-car-in-car-dealership.jpg?s=612x612&w=0&k=20&c=yfwZslUfEzk4YKB4hZiCy3w1L4IvdwbkSc7YmrrHYfE=" class="card-img-top img-fluid" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Chauffeur</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">A la recherche de chauffeur cheuvroné et professionnel pour votre maison, travail ou votre  famille.</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                        <div class="card" style="width: 19rem;">
                          <div>
                            <img src="https://media.istockphoto.com/id/1363750899/photo/security-guard-at-live-festivale-event.jpg?s=612x612&w=0&k=20&c=0v290Xyw-UohXmzgULhc-8U6cYxkJZseZ5Bcvl7le8A=" class="card-img-top" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Sécurité</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">Votre sécurité et bien être est leur sasser dosse , il veille jour et nuit sur votre maison et votre famille</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                        <div class="card" style="width: 19rem;">
                          <div>
                            <img src="https://media.istockphoto.com/id/1433849478/photo/mother-and-baby-love.jpg?s=612x612&w=0&k=20&c=obSlXYluI87Gy9CLsw8PSDqdb3j7UduTOeUsKbRWHUs=" class="card-img-top" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Nounou</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">Pour prendre soins de vos enfants et vous permettre de vaquer à vos obligations en toute quiétude</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                    
                    <div class="col-lg-3 col-sm-6 ">
                        <div class="card shadow-lg" style="width: 19rem;">
                          <div>
                            <img  src="https://media.istockphoto.com/id/1326544964/photo/portrait-of-smiling-african-american-woman-cleaning-in-kitchen-with-rubber-gloves-cloth-and.jpg?s=612x612&w=0&k=20&c=2KHQAOpfKwM-NP9CLU1WDVzzGbmIUZdxTuXjAR5f-P8=" class="card-img-top" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Femme de ménage</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">Des femmes de ménage expérimenté et dévouées à leur travail, pour votre satisfaction</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                        <div class="card" style="width: 19rem;">
                          <div>
                            <img src="https://media.istockphoto.com/id/1356380219/photo/portrait-of-a-young-man-choosing-new-car-in-car-dealership.jpg?s=612x612&w=0&k=20&c=yfwZslUfEzk4YKB4hZiCy3w1L4IvdwbkSc7YmrrHYfE=" class="card-img-top img-fluid" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Chauffeur</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">A la recherche de chauffeur cheuvroné et professionnel pour votre maison, travail ou votre  famille.</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                        <div class="card" style="width: 19rem;">
                          <div>
                            <img src="https://media.istockphoto.com/id/1363750899/photo/security-guard-at-live-festivale-event.jpg?s=612x612&w=0&k=20&c=0v290Xyw-UohXmzgULhc-8U6cYxkJZseZ5Bcvl7le8A=" class="card-img-top" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Sécurité</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">Votre sécurité et bien être est leur sasser dosse , il veille jour et nuit sur votre maison et votre famille</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                        <div class="card" style="width: 19rem;">
                          <div>
                            <img src="https://media.istockphoto.com/id/1433849478/photo/mother-and-baby-love.jpg?s=612x612&w=0&k=20&c=obSlXYluI87Gy9CLsw8PSDqdb3j7UduTOeUsKbRWHUs=" class="card-img-top" alt="..." style="height: 12rem;">
                            <div class="titleService">
                              <h5 class="text-center">Nounou</h5>
                            </div>
                          </div>
                          <div class="card-body">
                            <p class="card-text">Pour prendre soins de vos enfants et vous permettre de vaquer à vos obligations en toute quiétude</p>
                            <a href="#" class=" text-decoration-none me-4 d-flex justify-content-center">  <span class="lnr lnr-arrow-right  me-2 fs-5"></span> Voir Plus</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>
                      </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- section carte service fin -->

</div>

<!-- pagination debut -->


<!-- pagination fin -->


<app-footer></app-footer>
