hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }
  .card-body{
    height: 10rem;
    
    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* overflow-y: auto; */
}
  
  /* style baniere */
  .banner{
      background: url(src\assets\image\service.png);
      height: 80vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;
  
  }
 
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 54, 104, 0.5); */
      
   
    }
  .banner h2{
      font-size: 50px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      
  }

  /* style carte service debut */
  
/* Service section */
.carteservicecontainer .titleService{
    background-color: white;
    height: 20px;
    width: 50%;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    position: relative;
    bottom: 180px;
  }
  .carteservicecontainer .titleService h5{
    color: var(--kergui-blue);
    font-size: 14px;
  }
  .carteservicecontainer .card-body p{
    /* max-height: 5rem; */
    font-size: 15px;
    
  }
  .carteservicecontainer a{
  font-size: 15px;
  color: black;
  
  }
  
  .carteservicecontainer .cardfooter{
    background-color: var(--kergui-blue);
    height: 8px;
  }
  
  .validservice button{
    background: var(--kergui-green);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px; 
    width: 25%;
  
  }
  
  /* style carte service fin */

  /* style pagination */
  

  /* style pagination fin */
