hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }
  .card-body{
    height: 10rem;

    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* overflow-y: auto; */
}
.searchbar .input-group{
  width: 50%;
}
.searchbar input{
  all: unset;
  flex-grow: 1;
  box-shadow: 3px 3px 10px -3px rgb(99, 97, 97);
  padding: 5px 20px;
}

  /* style baniere */
  .banner{
      background: url(src\assets\image\service.png);
      height: 50vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;

  }
h4{
color: var(--kergui-blue);
  }


  .banner h2{
      font-size: 50px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;

  }

  /* style carte service debut */

/* Service section */
/* .carteservicecontainer .titleService{
    background-color: white;
    height: 20px;
    width: 50%;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    position: relative;
    bottom: 180px;
  } */
 .row {
  row-gap: 20px;
  }
  #thiscard{
    width: 17rem;
    height: 26rem;
  }
  .carteservicecontainer .titleService h5{
    color: var(--kergui-green);
   font-weight: bold;
  }

  .carteservicecontainer .card-body p{
    font-size: 15px;

    height: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .carteservicecontainer a{
  font-size: 15px;
  color: var(--kergui-green);

  }

  .cardfooter{
    background-color: var(--kergui-blue);
    height: 6px;
  }

  .validservice button{
    background: var(--kergui-green);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 25%;

  }

  /* style carte service fin */

  /* style pagination */
  .pagiColor {
    background-color: var(--kergui-blue);
    color: white;
  }
  .pagiColore.current {
    background-color: var(--kergui-blue);
    color: white;
  }
  .pagiColore {
    border:1px solid  var(--kergui-blue);
    color: var(--kergui-blue);
  }
  #pagination{
    /* margin-left: 180px; */
    margin-top: 20px;
  }


  /* style pagination fin */

  /* media qury----- */

  @media screen and (max-width:1200px) {
  .banner {
    height: 40vh;
  }
  }
  @media screen and (max-width:900px) {
  .banner {
    height: 30vh;
  }
  }
  @media screen and (max-width:700px) {
  .banner {
    height: 20vh;
  }
  }
  @media screen and (max-width:470px) {
  .banner {
    height: 15vh;
  }
  }
  @media screen and (max-width:350px) {
  .banner {
    height: 12vh;
  }
  }
  @media screen and (max-width:280px) {
  .banner {
    height: 10vh;
  }
  }
  @media screen and (max-width:750px) {
    #thiscard{
     margin: 0 auto;
     width: 17rem
    }
  }
  @media screen and (max-width:560px) {
    #thiscard{
     margin: 0 auto;
     width: 20rem
    }
    .searchbar .input-group{
      width: 100%;

    }
  }
  @media screen and (max-width:390px) {
    #thiscard{
     margin: 0 auto;
     width: 18rem

    }
  }
  @media screen and (max-width:365px) {
    #thiscard{
     margin: 0 auto;
     width: 16.5rem
    }
  }
  @media screen and (max-width:340px) {
    #thiscard{
     margin: 0 auto;
     width: 16rem
    }
  }
  @media screen and (max-width:330px) {
    #thiscard{
      margin: 0 auto;
     width: 15rem
    }
  }
  @media screen and (max-width:290px) {
    #thiscard{
      margin: 0 auto;
     /* width: 12rem */
     width: 100%;
    }
  }
  @media screen and (max-width:250px) {
    #thiscard{
      margin: 0 auto;
     width: 100%;
    }
    .title h4{
      font-size: 16px;
    }
  }


