<app-header></app-header>


<div class="servicecontainer">
    <!-- section baniere debut-->

    <section class="banner">
        <section class="baniere">
                    <div class="banner">
                        <div class="overlay"></div>
                        <!-- <h2 class="text-center  w-50"> Services</h2>   -->
                    </div>
        </section>
    </section>
    <!-- section baniere fin -->
    <!-- section carte service debut -->

    <section class="carteservice m-5">
        <div class="carteservicecontainer">
            <div class="container">
              <div class="searchbar mb-5">
                <div class="d-flex justify-content-end">
                    <div class="input-group ">
                        <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"  aria-describedby="search-addon"   [(ngModel)]="searchQuery" (input)=" getArticlesPage()" />
                        <button type="button" class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
                      </div>

                </div>
              </div>
                <div class="title text-center mb-3">
                    <h4 class="fw-bold"> Les services</h4>
                    <hr class="border-3 opacity-100">
                  </div>
                <div class="row ">
                  <ng-container *ngIf=" getArticlesPage().length >0 ; else noService">
                    <div class="col-lg-3 col-sm-6 " *ngFor=" let element of getArticlesPage() " >
                      <div class="card shadow-lg"  id="thiscard" >
                        <div>
                          <img  src="http://127.0.0.1:8000/storage/{{element.image}}" class="card-img-top" alt="..." style="height: 12.5rem;">
                          <div class="titleService">
                            <h5 class="text-center mt-2"> {{element.nom_prof}} </h5>
                          </div>
                        </div>
                        <div class="card-body " >
                          <p class="card-text"> {{element.description}} </p>
                        </div>
                        <div class="iconegestion text-center mb-1 ">
                          <a  class=" text-decoration-none me-4 d-flex justify-content-center mb-3" [routerLink]="['/detail-service', element.id]" >  <span class="lnr lnr-arrow-right me-2 fs-5"></span> Voir Plus</a>                
                        </div>
              
                        <div class="cardfooter mt-1"></div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #noService>
                    <h4 class="text-center">Aucune service disponible</h4>
                  </ng-template>
                  
                      
                    
                </div>
            </div>
        </div>
    </section>
    <!-- section carte service fin -->

</div>

<!-- pagination debut -->

<div class="d-flex flex-wrap justify-content-center my-5 " id="pagination">
  <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn pagiColore ms-2" 
          *ngFor="let page of pages" 
          [class.current]="page === pageActuelle" 
          (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn pagiColor ms-2" 
          [disabled]="pageActuelle === totalPages" 
          (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>
<!-- pagination fin -->


<app-footer></app-footer>
