<div class="admingestioncontainer mt-5">
    <div class="ajoutservicebutton">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" ouvrirFormulaireAjout()"> Ajouter <i class="bi bi-plus-square-fill ms-2"></i></a>
    </div>

    <div class="searchbar mb-5">
      <div class="d-flex justify-content-end">
          <div class="input-group w-50 ">
              <input type="search" class="form-control rounded " placeholder="Rechercher" aria-label="Search"  aria-describedby="search-addon"  [(ngModel)]="searchservice" (input)="getArticlesPage()" />
              <button type="button   " class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
            </div>
            <!-- http://127.0.0.1:8000/storage/{{dataDetailProfil.imageDeProfil}} -->
      </div>
    </div>
    <h4 class="mt-4">Liste des services</h4>
    
    <div class="row mt-4 mb-4" >
      <ng-container *ngIf="getArticlesPage().length >0 , else noService">
        <div class="col-lg-3 col-sm-6 " *ngFor=" let element of getArticlesPage()" >
          <div class="card shadow-lg" style="width: 18.5rem; height: 28rem;" >
            <div>
              <img  src="http://127.0.0.1:8000/storage/{{element.image}}" class="card-img-top" alt="..." style="height: 14rem;">
              <div class="titleService">
                <h5 class="text-center mt-2"> {{element.nom_prof}} </h5>
              </div>
            </div>
            <div class="card-body text-start" >
              <p class="card-text "> {{element.description}} </p>
            </div>
            <div class="iconegestion d-flex justify-content-around w-50 mb-1 ">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal-detail" (click)= "chargerDetailProfession (element)"  ><i class="bi bi-eye"></i></a>
                <a   data-bs-toggle="modal" data-bs-target="#exampleModal-modifier" (click)= "chargerProfession(element)" ><span class="lnr lnr-pencil"></span></a>
                <button class="bg-white" (click)="supprimerProfession(element.id)"> <span class="lnr lnr-trash"></span></button>
            </div>
            <div class="cardfooter mt-1"></div>
          </div>
        </div>
      </ng-container>
      <ng-template #noService>
        <h4 class="text-center">Liste des services recents vide</h4>
      </ng-template>
      
        
        
       
      </div>

<!-- Modal ajout services -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  
</div>
<!-- Modal ajout debut -->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"   aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Ajouter un service</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
            <form (ngSubmit)="ajouterPofession ()" #registerForm="ngForm">
              <div class="mb-3">
                <Label class = "form-label"> Sélectionnez la photo 
                <input id = "uploader" name = "image" type = "file" classe multiple = "file-chargement" (change)="getFile($event)" >
               </Label>
               </div>
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Profession</label>
                    <input type="text" class="form-control" name="nom_prof" id="profession" placeholder="profession" [(ngModel)]="nom_prof" required  (input)="verifProfssion()"
                    >
                     <p class="message-erreur" *ngIf="!exactNomProfession">{{verifNomProfession}}</p>
                     <p class="message-success" *ngIf="exactNomProfession"> <i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> valide</p>
                  
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4" [(ngModel)]="description" required  (input)="verifDescription()"
                    ></textarea>
                    
                      <p class="message-erreur" *ngIf="!exactDescription">{{verifDescrip}}</p>
                      <p class="message-success" *ngIf="exactDescription"><i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> valide</p>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button  data-bs-dismiss="modal" type="submit" [disabled]="!exactNomProfession || !exactDescription"  class="btn-custom"> Ajouter</button>
                    <a href="" class="bg-secondary" data-bs-dismiss="modal"> Annuler</a>
                  </div>
            </form>
            
            
        </div>
     
      </div>
    </div>
  </div>



<!-- modal ajout fin -->

<!-- modal modification debut  -->

<div class="modal fade " id="exampleModal-modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Modifier un service</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
            <form action=""  enctype="multipart/form-data" >
              <div class="mb-3">
                <Label class = "form-label"> Sélectionnez la photo 
                <input id = "uploader" name = "image" type = "file" classe multiple = "file-chargement" (change)="getFile($event)">
               </Label>
               </div>
                <div class="mb-3">
                    <label for="nom_prof" class="form-label">Profession</label>
                    <input type="text" class="form-control" name="nom_prof" id="profession" placeholder="profession" [(ngModel)]="nom_prof" >
                    <p class="message-erreur" *ngIf="!exactNomProfession">{{verifNomProfession}}</p>
                    <p class="message-success" *ngIf="exactNomProfession"><i class="bi bi-check2-all"></i> Exact !</p>
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4" [(ngModel)]="description" ></textarea>
                    <p class="message-erreur" *ngIf="!exactDescription">{{verifDescrip}}</p>
                    <p class="message-success" *ngIf="exactDescription"><i class="bi bi-check2-all"></i> Exact !</p>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button href="" type="submit" data-bs-dismiss="modal" (click)="modifierProfession()"> Modifier</button>
                    <button href="" class="bg-secondary" data-bs-dismiss="modal"> Annuler</button>
                  </div>
                  
            </form>
        </div>
     
      </div>
    </div>
  </div>
<!-- modal modification fin -->


<!-- modal  detail  -->

<div class="modal fade " id="exampleModal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Détails service</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
           
              
                  <div class="" *ngIf="voirDetailProfession">
                    <h5> {{voirDetailProfession.nom_prof}} </h5>
                    <p class="text-start mt-4">{{voirDetailProfession.description}} </p>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button href="" class="bg-secondary" data-bs-dismiss="modal"> Fermer</button>
                  </div>
           
        </div>
     
      </div>
    </div>
  </div>
<!-- modal fin -->


<!-- pagination -->
<!-- <div class="d-flex flex-wrap justify-content-center my-5" >
  <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn pagiColore   ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div> -->

<div class="d-flex flex-wrap justify-content-center my-5 " id="pagination">
  <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn pagiColore ms-2" 
          *ngFor="let page of pages" 
          [class.current]="page === pageActuelle" 
          (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn pagiColor ms-2" 
          [disabled]="pageActuelle === totalPages" 
          (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>