.ajoutservicebutton a{
    padding: 8px 20px;
    background-color: var(--kergui-blue);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
.cardfooter{
    background-color: var(--kergui-blue);
    height: 6px;
  }
  

h4{
    color: var(--kergui-blue);
    font-weight: 600;
}
h5{
    color: var(--kergui-green);
    font-weight: bold;
}
.searchbar button{
    background-color: var(--kergui-blue);
}
 /* style pagination debut */

.pagiColor {
    background-color: var(--kergui-blue);
    color: white;
}
.pagiColore.current {
    background-color: var(--kergui-blue);
    color: white;
}
.pagiColore {
    border:1px solid  var(--kergui-blue);
    color: var(--kergui-blue);
}
#pagination{
    margin-left: 180px;
    margin-top: 20px;
    
}
.btn-custom:disabled {
    opacity: 0.7; /* Réduire l'opacité du bouton */
    cursor: not-allowed; /* Changer le curseur en "non autorisé" */
    background-color: var(--kergui-green);
    /* text-decoration: line-through; 
    text-decoration-thickness: 2px;  */
}
.message-erreur {
    color: var(--kergui-green);
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    /* Ajoutez d'autres styles CSS selon vos besoins */
}

 /* style pagination fin */

.card-body {
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.iconegestion {
    margin: 0 auto;
   
}
.iconegestion a , .iconegestion button{
    text-decoration: none;
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 18px;
    border: none;
    
}
.iconegestion a:hover{
   color: var(--kergui-green);
}
.iconegestion button:hover{
   color: var(--kergui-green);
}


/* style formulaire */
.validajout a , .validajout button{
    padding: 8px 25px;
    background-color: var(--kergui-blue);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
   
}
.modal-header{
    background-color: var(--kergui-blue);
}
.modal-body label {
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 18px;
}
.modal-body input{
    height: 45px;
}
.modal-title{
    /* color: var(--kergui-green); */
   
}
.validajout a{
   
}