.ajoutservicebutton a{
    padding: 8px 20px;
    background-color: var(--kergui-blue);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

h4{
    color: var(--kergui-blue);
}
h5{
    color: var(--kergui-green);
    font-weight: bold;
}
.iconegestion {
    margin: 0 auto;
   
}
.iconegestion a{
    text-decoration: none;
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 18px;
}
.iconegestion a:hover{
   color: var(--kergui-green);
}


/* style formulaire */
.validajout a{
    padding: 8px 25px;
    background-color: var(--kergui-blue);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
   
}
.modal-header{
    background-color: var(--kergui-blue);
}
.modal-body label {
    color: var(--kergui-blue);
    font-weight: bold;
    font-size: 18px;
}
.modal-body input{
    height: 45px;
}
.modal-title{
    /* color: var(--kergui-green); */
   
}
.validajout a{
   
}