hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }
   h4{
    color: var(--kergui-blue);
      }



  /* style baniere */
  .banner{
      background: url(src\assets\image\service.png);
      height: 40vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;

  }
  #carouselcontainer{
      height: 80vh;
  }
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 54, 104, 0.5); */


    }
  .banner h2{
      font-size: 40px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;


  }

  /* style carte detail service */

  .searchbar .input-group{
    width: 50%;

  }


  .detailservicecontainer .titleService h5{
    color: var(--kergui-blue);
    font-size: 14px;
  }
  .detailservicecontainer .nameprofil{
    margin: 0 auto;
  }
  #bodydetail  a{
    color: var(--kergui-green);
    font-size: 17px;
  }
  .detailservicecontainer .card-body p{
    /* max-height: 5rem; */
    font-size: 15px;

  }
  .detailservicecontainer a{
  font-size: 15px;
  color: black;

  }
  .profilinfo .itemdetail{
color: var(--kergui-blue);
font-size: 16px;
  }

  .detailservicecontainer .cardfooter{
    background-color: var(--kergui-blue);
    height: 8px;
  }
  .card{
    width: 17rem;
  }
  .card-body{
    height: 6.5rem;

    /* overflow: hidden; */
    text-overflow: ellipsis;
    /* overflow-y: auto; */
}


  .validservice button{
    background: var(--kergui-green);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 25%;

  }


 /* style pagination debut */


 .pagiColor {
  background-color: var(--kergui-blue);
  color: white;
}
.pagiColore.current {
  background-color: var(--kergui-blue);
  color: white;
}
.pagiColore {
  border:1px solid  var(--kergui-blue);
  color: var(--kergui-blue);
}
#pagination{
  /* margin-left: 180px; */
  margin-top: 20px;
}

 /* style pagination fin */

/* media query baniere */

@media screen and (max-width:1200px) {
  .banner {
    height: 40vh;
  }
  }
  @media screen and (max-width:900px) {
  .banner {
    height: 30vh;
  }
  }
  @media screen and (max-width:700px) {
  .banner {
    height: 20vh;
  }
  }
  @media screen and (max-width:470px) {
  .banner {
    height: 15vh;
  }
  }
  @media screen and (max-width:350px) {
  .banner {
    height: 12vh;
  }
  }
  @media screen and (max-width:280px) {
  .banner {
    height: 10vh;
  }
  }
  /* media deatail service card */
  @media screen and (max-width:570px) {

    .card {
      margin: 0 auto;
      width: 20rem;
    }
  }
  @media screen and (max-width:550px) {
    .searchbar .input-group{
      width: 100%;
    }
    .card {
      margin: 0 auto;
      width: 20rem;
    }
  }
  @media screen and (max-width:340px) {

    .card {
      margin: 0 auto;
      width: 18rem;
    }
  }
  @media screen and (max-width:290px) {

    .card {
      margin: 0 auto;
      width: 15rem;
    }
  }
  @media screen and (max-width:250px) {

    .card {
      margin: 0 auto;
      width: 13rem;
    }
    .title h4{
      font-size: 16px;
    }
  }
  @media screen and (max-width:235px) {

    .pagiColor, .pagiColore  {
      font-size: 10px;
    }

  }
  @media screen and (max-width:220px) {

    .card {
      margin: 0 auto;
      width: 10rem;
    }
    .nameprofil h6{
      font-size: 13px;
    }
    .profilinfo .itemdetail {
      font-size: 9px;
    }


  }
  @media screen and (max-width:198px) {

    .title h4{
      font-size: 14px;
    }
  }

  @media screen and (max-width:187px) {

    .pagiColor, .pagiColore  {
      font-size: 9px;
    }
    .title h4{
      font-size: 12px;
    }

  }
