<app-header></app-header>
<div class="detailservicecontainer">
    <section class="baniere">
        <div class="banner">
            <div class="overlay"></div>
            <h2 class="text-center  w-50"> Services</h2>  
        </div>
    </section>

    <section class="detailservicecarte mt-5 mb-5">
        <div class="detailservicecontainer">
            <div class="container">
                <div class="searchbar mb-5">
                    <div class="d-flex justify-content-end">
                        <div class="input-group w-50 ">
                            <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"  aria-describedby="search-addon" />
                            <button type="button" class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
                          </div>
    
                    </div>
                  </div>
                  <div class="title text-center mb-3">
                    <h4 class="fw-bold"> Les profils disponibles</h4>
                    <hr class="border-3 opacity-100">
                  </div>
                  <div class="row row-gap-3  mt-4" >
                    <div class="col-lg-3 col-sm-6 " *ngFor="let element of getArticlesPage()" >
                      <div>
                        <div class="card shadow-lg" style="width: 19rem;">
                          <div class="" >
                            <img  src="http://127.0.0.1:8000/storage/{{element.imageDeProfil }}" class="card-img-top " alt="..." style="height: 15rem;">
                            <div class="nameprofil d-flex justify-content-between w-50 pt-2">
                              <div>
                                  <h6> {{element.prenom}} </h6>
                              </div>
                              <div>
                                  <h6>  {{element.nom}}  </h6>
                              </div>
                            </div>
                          </div>
                          <div class="card-body " id="bodydetail">
                              <div class="profilinfo d-flex justify-content-around">
                                  <div class="itemdetail">
                                      <span class="lnr lnr-map-marker me-3"></span>  {{element.lieu}} 
                                  </div>
                                  <div class="itemdetail">
                                      <i class="bi bi-calendar-event me-3"></i>  {{element.dateNaissance}} 
                                  </div>
                              </div>
                            <a  class=" text-decoration-none me-4 d-flex justify-content-center mt-2" [routerLink]="['/detail-employer']">  <span class="lnr lnr-arrow-right me-2 fs-5"></span> Voir profil</a>
                          </div>
                          <div class="cardfooter"></div>
                        </div>

                      </div>  
                    </div>
                
                    
                    
                   
                  </div>
                
            </div>
        </div>
    </section>
</div>

<!-- pagination -->
<div class="d-flex flex-wrap justify-content-center my-5" >
      <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
        Précédent
      </button>
      <button class="btn pagiColor  ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
        {{ page }}
      </button>
      <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
        Suivant
      </button>
  </div>


<app-footer></app-footer>
