<div class="admingestioncontainer mt-5">
    <div class="app-card app-card-orders-table mb-5">
        <div class="app-card-body">
            <div class="table-responsive">
                
                <table class="table mb-0 text-left">
                    <thead >
                        <tr >
                            <th class="cellhead" >Auteur</th>
                            <th class="cellhead">Profession</th>
                            <th class="cellhead">Date Publication</th>
                            <th class="cellhead">Date de cloture</th>
                            <th class="cellhead">Etat</th>
                            <th class="cellhead"> Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="candidatures.length >0; else noCandidature">
                            <tr *ngFor=" let candidate of  candidatures " >
                                <td class="cell"> {{candidate.offre_emplois.user.prenom}}  {{candidate.offre_emplois.user.nom}}  </td>
                                <td class="cell">   {{candidate.offre_emplois.profession.nom_prof}}  </td>
                                <td class="cell">   {{candidate.offre_emplois.created_at | date:'dd-MM-yyyy' }}  </td>
                                <td class="cell">   {{candidate.offre_emplois.dateline}}  </td>
                                <td class="cell">  
                                <span class="badge text-bg-success" *ngIf=" candidate.etatCan === 'accepter'  "> {{candidate.etatCan}} </span>    
                                <span class="badge text-bg-danger"  *ngIf=" candidate.etatCan === 'rejeter'  "> {{candidate.etatCan}} </span>    
                                <span class="badge text-bg-secondary"  *ngIf=" candidate.etatCan === 'attente'  "> {{candidate.etatCan}} </span>    
                                </td>                            
                                <td class="cell">
                                    <div class="iconegestion d-flex justify-content-around w-50   ">
                                        <!-- <a href=""  data-bs-toggle="modal" data-bs-target="#exampleModal"  ><button class="btn btn-outline-primary"> detail</button> </a> -->
                                        <a class="btn-sm app-btn-secondary"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showElement(candidate)"  href="">Détail</a>
                                      
                                    </div>
                                </td>
                               
                            </tr>
                        </ng-container>
                        <ng-template #noCandidature>
                            <h4 class="text-center"> Liste des candidatures vides</h4>
                        </ng-template>
                        
                        
                        
                

                    </tbody>
                </table>
            </div><!--//table-responsive-->
        </div><!--//app-card-body-->		
    </div>
</div>




<!-- Button trigger modal -->

  
  <!-- Modal -->
  

  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title  " id="exampleModalLabel">Detail profession</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">
           
              
                  <div class="" >
                   <div class="row" *ngIf="selectElement ">
                    <div class="col-4 " id="tof">
                        <img src="http://127.0.0.1:8000/storage/{{selectElement.offre_emplois.image}}">
                    </div>
                    <div class="col-8 ">
                        <div class=" mb-2">
                            <h6>Profession :<span class="text-black fw-lighter"> {{selectElement.offre_emplois.profession.nom_prof}}</span>  </h6>
                            <h6>Contrat : <span class="text-black fw-lighter">{{selectElement.offre_emplois.profession.typeContrat}} </span> </h6>
                           
                        </div>
                        
                        <div class="d-flex mb-2">
                            <h6> Salaire: <span class="text-black fw-lighter">{{selectElement.offre_emplois.profession.slaireMinimum}} </span>  </h6>
                            <h6 class="ms-3">adresse : <span class="text-black fw-lighter">{{selectElement.offre_emplois.lieu}}</span>   </h6>
                        </div>
                        <div class=" mb-2">
                            <h6> Créer le: <span class="text-black fw-lighter">{{selectElement.offre_emplois.created_at | date : "dd/MM/yyyy"}}</span>  </h6>
                            <h6> Expire le: <span class="text-black fw-lighter">{{selectElement.offre_emplois.dateline | date : "dd/MM/yyyy"}}</span>  </h6>
                            
                        </div>
                        <h6> Etat: <span class="text-black fw-lighter">{{selectElement.offre_emplois.etat}}</span>  </h6>
                        <div>
                            <h6>description</h6>
                        </div>
                        <div>
                            <p> {{selectElement.offre_emplois.description}} </p>
                        </div>
                    </div>
                   </div>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button href="" class="bg-secondary" data-bs-dismiss="modal"> Fermer</button>
                  </div>

                  
           
        </div>
     
      </div>
    </div>
  </div>




