<app-header></app-header>

<div class="logincontainer">
    

<!-- section connexion debut -->
<section class="connexionuser" *ngIf="showConnexion">
    <div class="connexion">
    <div class="form signup">
      <header class="text-white mb-2">Connectez-vous</header>
      <form novalidate  (ngSubmit)="connexion($event)" >
        <div class="row row-gap-4">
      
            <div class="">
                <input class="col-12" type="email" placeholder="Email" name="email"  [(ngModel)]="formData.email" required (input)="verifEmailConFonction()"/>
                <p class="message-erreur" *ngIf="!exactEmail"> {{verifEmail}} </p>
                <p class="message-success" *ngIf="exactEmail"><i class="bi bi-check2-all"></i> Exact !</p>
               
            </div>
           
            <div class="">
                <input class=" col-12" type="password" placeholder="Mot de pass" name="password"  [(ngModel)]="formData.password" (input)="verifPasswordFonction()"
                />
                <p class="message-erreur" *ngIf="!exactPassword"> {{verifPassword}} </p>
                <p class="message-success" *ngIf="exactPassword"><i class="bi bi-check2-all"></i> Exact !</p>
            </div>
            <div>
               <a class="text-decoration-none"> <p class="text-white">mot de passe oublié ?</p></a> 
            </div>
            <div>
                <button class="col-12 btn-custom" type="submit" > Connexion</button>
            </div>
            <p class="text-center text-white"> Vous n'avez pas de compte ?</p>
          
    </div>
    
      </form>
    </div>
    <div class="footerform">
        <header><a href=""  class="text-decoration-none" (click)="afficherSection('presentationlogin', $event)"> S'inscrire</a></header>
    </div>
</div>
</section>
<!-- section connexion fin -->


<!-- section authentification employeur debut -->
<section class="inscriptionemployeur" *ngIf="showAuthEmployeur">
    <div class=" inscription">
    <div class="form signup">
      <header class="text-white mb-2">Inscrivez-vous</header>
      <form novalidate (ngSubmit)="registerUser()"  #monForm ="ngForm">
        <div class="row row-gap-4 column-gap-2">
          
            <div class="col-md-5">
                <input class="" type="text" name="prenom" placeholder="prenom" required  [(ngModel)]="registreData.prenom" required #validPrenom="ngModel" (input)="onEmailInput(validPrenom)"
                [ngClass]="{'is-invalid': validPrenom.invalid && (validPrenom.dirty || validPrenom.touched) }"
                />
                <div class="invalid-feedback">
                    <span *ngIf="validPrenom.invalid && validPrenom.errors && validPrenom.errors['required']" class="message-erreur" > Entrer le prénom</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="nom" placeholder="nom" [(ngModel)]="registreData.nom" required #validnom="ngModel" (input)="onEmailInput(validnom)"
                [ngClass]="{'is-invalid': validnom.invalid && (validnom.dirty || validnom.touched) }"
                />
                <div class="invalid-feedback">
                    <span *ngIf="validnom.touched && validnom.errors && validnom.errors['required']" class="message-erreur" > Entrer le nom</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="email" placeholder="Email" [(ngModel)]="registreData.email" required email appEmailValidation #validemail="ngModel" (input)="onEmailInput(validemail)"
               
                [ngClass]="{'is-invalid': validemail.invalid && (validemail.dirty || validemail.touched)}"
                title="Veillez entrer un email au format example@test.com" 
                />
                <div class="invalid-feedback">
                    <span *ngIf="validemail.touched && validemail.errors && validemail.errors['required']" class="message-erreur" > Entrer l'email</span>
                    <span *ngIf="validemail.touched && validemail.errors && validemail.errors['email']" class="message-erreur" > Email invalide</span>
                </div>
            </div>
            <div class="col-md-5">
                <input type="tel" id="typePhone" name ="telephone" placeholder="Telephone" [(ngModel)]="registreData.telephone"  required #validfone="ngModel" (input)="onEmailInput(validfone)"
                [ngClass]="{'is-invalid': validfone.invalid && (validfone.dirty || validfone.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="validfone.touched && validfone.errors && validfone.errors['required']" class="message-erreur" > Entrer un numero de téléphone</span>
                    
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="password" name ="password" placeholder="Mot de pass" [(ngModel)]="registreData.password" required #validpassword="ngModel" minlength="8" (input)="onEmailInput(validpassword)"
                [ngClass]="{'is-invalid': validpassword.invalid && (validpassword.dirty || validpassword.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf=" validpassword.touched && validpassword.errors && validpassword.errors['required']" class="message-erreur">Enter un mot de passe</span>
                    <span *ngIf=" validpassword.touched && validpassword.errors && validpassword.errors['minlength']" class="message-erreur">Minimum 8 caractères</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="password" name="password_confirmation " placeholder="Confirmer mot de pass" [(ngModel)]="registreData.password_confirmation" required #validconfpassword="ngModel" minlength="8" (input)="onEmailInput(validconfpassword)"
                [ngClass]="{'is-invalid': validconfpassword.invalid && (validconfpassword.dirty || validconfpassword.touched) || registreData.password_confirmation !== registreData.password }"
                />
                <div class="invalid-feedback">
                    <span *ngIf=" validconfpassword.touched && validconfpassword.errors && validconfpassword.errors['required']" class="message-erreur">onfirmer votre mot de passe</span>
                    <span *ngIf=" validconfpassword.touched && validconfpassword.errors && validconfpassword.errors['minlength']" class="message-erreur">Minimum 8 caractères</span>
                    <span *ngIf="registreData.password_confirmation !== registreData.password" class="message-erreur">Les mots de passe ne correspondent pas</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="presentation" placeholder="Adresse" [(ngModel)]="registreData.lieu" required #validlieu="ngModel" (input)="onEmailInput(validlieu)"
                [ngClass]="{'is-invalid': validlieu.invalid && (validlieu.dirty || validlieu.touched) }"
                />
            <div class="invalid-feedback">
                <span *ngIf="validlieu.touched && validlieu.errors && validlieu.errors['required']" class="message-erreur"> Enter une adresse</span>
            </div>
            </div>
            <div class="col-md-5" >
                <input class="form-control"  type="file" (change)="getFile($event)" > 
            <!-- <button  class="btn btn-outline-light mt-2"> </button> -->
            
            </div>
           
            
            
            <div class="d-flex justify-content-center">
                <input class="col-6 btn-custom " type="submit" [disabled]="!monForm.valid"  value="S'inscrire"  required />
            </div>
    </div>
    
      </form>
    </div>
    <div class="footerform">
        <header><a href=""  class="text-decoration-none" (click)="afficherSection('connexionuser', $event)"> Se connecter</a></header>
    </div>
</div>
</section>
<!-- section authentification employeur fin -->


<!-- section authentification employé debut -->
<section class="inscritionemploye" *ngIf="showAuthEmploye">
    <div class="inscription" id="employesign">
    <div class="form signup">
      <header class="text-white mb-2">Incrivez-vous</header>
      <form action="#" (ngSubmit)="registerUserEmploye()" #monForm="ngForm">
        <div class="row row-gap-3 column-gap-0">
            <div class="col-md-8 d-flex justify-content-around">
                <i class="me-3"><span class="lnr lnr-camera"></span></i>
                <input class="form-control" type="file" (change)="getFile($event)" > 
            <button  class="btn btn-outline-light ms-3"> <span class="lnr lnr-upload"  ></span></button>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="prenom" placeholder="prenom" required [(ngModel)]="registreEmploye.prenom" #verifPrenom="ngModel" (input)="onEmailInput(verifPrenom)"
                [ngClass]="{'is-invalid': verifPrenom.invalid && (verifPrenom.dirty || verifPrenom.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifPrenom.touched && verifPrenom.errors && verifPrenom.errors['required']"  class="message-erreur"> Entrer un prenom</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="nom" placeholder="nom" required [(ngModel)]="registreEmploye.nom" #verifnom="ngModel" (input)="onEmailInput(verifnom)"
                [ngClass]="{'is-invalid': verifnom.invalid && (verifnom.dirty || verifnom.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifnom.touched && verifnom.errors && verifnom.errors['required']"  class="message-erreur"> Entrer un nom</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="email" placeholder="Email" required [(ngModel)]="registreEmploye.email" #verifemail="ngModel" email appEmailValidation (input)="onEmailInput(verifemail)"
                [ngClass]="{'is-invalid': verifemail.invalid && (verifemail.dirty || verifemail.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifemail.errors && verifemail.touched && verifemail.errors['required']"  class="message-erreur"> Enter un email</span>
                    <span *ngIf="verifemail.errors && verifemail.touched && verifemail.errors['email']"  class="message-erreur"> Email invalid</span>
                </div>
            </div>
            <div class="col-md-5">
                <input type="tel" id="telephone" name="telephone" placeholder="Telephone" [(ngModel)]="registreEmploye.telephone"  required  #veriffone="ngModel" (input)="onEmailInput(veriffone)"
                [ngClass]="{'is-invalid': veriffone.invalid && (veriffone.dirty || veriffone.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="veriffone.errors && veriffone.touched && veriffone.errors['required']"  class="message-erreur"> Enter un numéro de téléphone</span>
                </div>
            </div>
            <div class="col-md-5">
                <input type="text" id="lieu" placeholder="Adresse"  name="lieu" required [(ngModel)]="registreEmploye.lieu" #verifLieu="ngModel" (input)="onEmailInput(verifLieu)"
                [ngClass]="{'is-invalid': verifLieu.invalid && (verifLieu.dirty || verifLieu.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifLieu.errors && verifLieu.touched && verifLieu.errors['required']"  class="message-erreur">Enter une adresse</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="date" placeholder="Date de naissance" name="dateNaissance" [(ngModel)]="registreEmploye.dateNaissance"  required #verifNaiss="ngModel" (input)="onEmailInput(verifNaiss)"
                [ngClass]="{'is-invalid': verifNaiss.invalid && (verifNaiss.dirty || verifNaiss.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifNaiss.errors && verifNaiss.touched && verifNaiss.errors['required']"  class="message-erreur">Enter une date de naissance</span>
                </div>
            </div>
         
            <div class="col-md-5">
                <!-- <input class="" type="text" name="civilite" placeholder="Votre civilite" [(ngModel)]="registreEmploye .civilite"  required /> -->
                <select class="form-select" aria-label="Votre sexe" name="civilite" [(ngModel)]="registreEmploye.civilite" #verifSexe="ngModel" required (input)="onEmailInput(verifSexe)"
                [ngClass]="{'is-invalid': verifSexe.invalid && (verifSexe.dirty || verifSexe.touched)}"
                >
               
                    <option value="">Votre Sexe</option>
                    <option value="homme">Homme</option>
                    <option value="femme">Femme</option>
        
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="verifSexe.errors && verifSexe.touched && verifSexe.errors['required']" class="message-erreur">Enter une civilité</span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="langueParler" placeholder="Langue parler" [(ngModel)]="registreEmploye .langueParler"  required #verifLangue="ngModel" (input)="onEmailInput(verifLangue)"
                [ngClass]="{'is-invalid': verifLangue.invalid && (verifLangue.dirty || verifLangue.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifLangue.errors && verifLangue.touched && verifLangue.errors['required']"  class="message-erreur"> Entrer les langues </span>
                </div>
            </div>
            <div class="col-md-5">
                <input class="" type="text" name="experienceProf" placeholder="experience prpfessionnelle" [(ngModel)]="registreEmploye .experienceProf"  required #verifExperience="ngModel" (input)="onEmailInput(verifExperience)"
                [ngClass]="{'is-invalid': verifExperience.invalid && (verifExperience.dirty || verifExperience.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifExperience.errors && verifExperience.touched && verifExperience.errors['required']" class="message-erreur">  Entrer votre experience en format entier</span>
                </div>
            </div>
            <div class="col-md-5">
                <select class="form-select" aria-label="Sélectionner une profession" name="profession_id" [(ngModel)]="registreEmploye .profession_id" required #verifProfession="ngModel" (input)="onEmailInput(verifProfession)"
                [ngClass]="{'is-invalid': verifProfession.invalid && (verifProfession.dirty || verifProfession.touched)}"
                >
                    <option value="">Sélectionner une profession</option>
                    <option *ngFor="let profession of selectOptionData" [value]="profession.id">{{ profession.nom_prof }}</option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="verifProfession.errors && verifProfession.touched && verifProfession.errors['required']"  class="message-erreur">Chosir une profession</span>
                </div>
            </div>
           
            <div class="col-md-5">
                <input class="" type="password" name="password" placeholder="Mot de pass" [(ngModel)]="registreEmploye .password"  required #verifPassword="ngModel" minlength="8" (input)="onEmailInput(verifPassword)"
                [ngClass]="{'is-invalid':verifPassword.invalid && (verifPassword.dirty || verifPassword.touched)}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifPassword.errors && verifPassword.touched && verifPassword.errors['required']"  class="message-erreur">Entrer un mot de passe</span>
                    <span *ngIf="verifPassword.errors && verifPassword.touched && verifPassword.errors['minlength']"  class="message-erreur">Minimun 8 caractères</span>
                </div>
            </div>
            <div></div>
            <div class="col-md-5">
                <input class="" type="password" name="password_confirmation" placeholder="Confirmer mot de pass" [(ngModel)]="registreEmploye .password_confirmation"  required #verifConfPassword="ngModel" (input)="onEmailInput(verifConfPassword)"
                [ngClass]="{'is-invalid': verifConfPassword.invalid && (verifConfPassword.dirty || verifConfPassword.touched) || registreEmploye.password_confirmation !== registreEmploye.password}"
                />
                <div class="invalid-feedback">
                    <span *ngIf="verifConfPassword.errors && verifConfPassword.touched && verifConfPassword.errors['required']"  class="message-erreur">Confirme votre mot de passe</span>
                    <span *ngIf="verifConfPassword.errors && verifConfPassword.touched && verifConfPassword.errors['minlength']"  class="message-erreur">Minimum 8 caractères</span>
                    <span *ngIf="registreEmploye.password_confirmation !== registreEmploye.password" class="message-erreur">Les mots de passe ne correspondent pas</span>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="description ici" rows="4" [(ngModel)]="registreEmploye .presentation" required #verifPresentation="ngModel" (input)="onEmailInput(verifPresentation)"
                [ngClass]="{'is-invalid': verifPresentation.invalid && (verifPresentation.dirty || verifPresentation.touched) }"
                ></textarea>
                <div class="invalid-feedback">
                    <span *ngIf="verifPresentation.errors && verifPresentation.touched && verifPresentation.errors['required']" class="message-erreur">Entrer une présentation</span>
                </div>
              </div>
          
            <input class=" col-md-8 btn-custom" type="submit" [disabled]="!monForm.valid" value="S'inscrire" />
    </div>
    
      </form>
    </div>
    <div class="footerform">
        <header><a href=""  class="text-decoration-none" (click)="afficherSection('connexionuser', $event)"> Se connecter</a></header>
    </div>
</div>
</section>
<!-- section authentification employé fin -->



<!-- section presentation connexion debut -->
<section class="presentationlogin" *ngIf="showPresentation">
    <div class="container">
    <div class="presentationlogincontainer">
        <div class="container">
            <h4 class="text-center text-white">Vous êtes un employeur ou a la recherche d’un emploi <br>
                Rejoignez nous</h4>
            <div class="row column-gap-0 row-gap-3 mt-5">
                <div class="item col-lg-5 ">
                    <h6 class="text-center"> Je suis propriétaire à la recherche d’un employer</h6>
                    <a href="" class="d-flex justify-content-center mt-4" (click)="afficherSection('inscriptionemployeur', $event)"> <span class="lnr lnr-pointer-up me-3"></span> Cliquez ici</a>
                </div>
                <div class="item col-lg-5 " >
                    <h6 class="text-center"> Je suis un professionnel  à la recherche d’un emploi</h6>
                    <a href=""  class="d-flex justify-content-center mt-4" (click)="afficherSection('inscritionemploye', $event)"> <span class="lnr lnr-pointer-up me-3"></span> Cliquez ici</a>
                </div>
            
                
            </div>
            <div class="d-flex justify-content-center mt-4">

                <!-- <a href="" class="btn btn-light" [class.btn.disabled]="!SectionCliquer" (click)="afficherSectionCliquer()" > Créer un compte</a> -->
            </div>
            <h5 class="text-center text-white mt-4">Vous avez déjà un compte? <a href="" class="text-white fw-bold text-decoration-none">Connectez-vous</a></h5>
        </div>
    </div>
</div>
</section>
<!-- section presentation connexion fin -->

</div>























<!-- <div class="form lo>
  <header class="text-">Login</header>
  <form action="#">
    <input type="text" placeholder="Email address" required />
    <input type="password" placeholder="Password" required />
    <a href="#">Forgot password?</a>
    <input type="submit" value="Login" />
  </form>
</div> -->
<!-- <script>
  const wrapper = document.querySelector(".wrapper"),
    signupHeader = document.querySelector(".signup header"),
    loginHeader = document.querySelector(".login header");
  loginHeader.addEventListener("click", () => {
    wrapper.classList.add("active");
  });
  signupHeader.addEventListener("click", () => {
    wrapper.classList.remove("active");
  });
</script> -->
  
