<div class="app-header fixed-top ">
    <div class="app-header-inner">  
        <div class="container-fluid py-2">
            <div class="app-header-content"> 
                <div id="sidepanel-drop" class="sidepanel-drop"></div>
                <div class="sidepanel-inner d-flex flex-column">
                    <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
                </div>
                <div class="row justify-content-end align-items-center">

                <div class="app-utilities col-auto mx-5">                   
                    <div class="app-utility-item app-user-dropdown dropdown d-flex align-items-center" *ngIf="samaProfil">
                        <h6 class="text-white me-2">{{samaProfil.prenom}} {{samaProfil.nom}} </h6>
                        <a class="image-header" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="http://127.0.0.1:8000/storage/{{samaProfil.imageDeProfil}}" alt="profile"></a>
                        <ul class="dropdown-menu" id="mou" aria-labelledby="user-dropdown-toggle">
                            <li><a class="dropdown-item" routerLink="/admin/profil-admin">Profil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li ><a class="dropdown-item" (click)="LogOutUser()" >Deconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
