.imagepage{
    margin: 0 auto;
}
.imagepage img{
    height: 100px;
}
hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }
  .titlebig h3{
    color: var(--kergui-green);
    font-weight: bold;
    font-size: 30px;
  }