<!-- <app-header></app-header> -->
<div class="fonctionnemntcontainer">
    <div class="container">
        <div class="imagepage text-center mt-4">
            <a [routerLink]="['/accueil']">

                <img src="./assets/image/logo kergui.png" alt="">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="titlebig">
            <h3 class="text-center my-4">Politique de  confidentialité</h3>
        </div>
        <div class="contenu">
            <p class="lead">
                Cette politique de confidentialité décrit la manière dont nous traitons les informations personnelles collectées, utilisées et partagées lorsqu'un visiteur ou un client accède au service Ker gui.
            </p>
        </div>
        <div class="title text-center mb-3">
            <h4 class="fw-bold"> Que faites-vous de mes informations ?</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="contenu">
            <p class="lead">
                Lorsque vous consulter notre plateforme, dans le cadre d’une recherche d’emploie ou d’employer, nous collectons les informations personnelles que vous nous fournissez telles que votre nom, votre adresse et votre adresse e-mail.
    Lorsque vous parcourez nos différents services, nous recevons également automatiquement l'adresse de protocole Internet (IP) de votre ordinateur afin de nous fournir des informations qui nous aident à en savoir plus sur votre navigateur et votre système d'exploitation.
    Avec permission vo informations sont collectés
            </p>
        </div>
        <div class="title text-center mb-3">
            <h4 class="fw-bold"> Comment obtenez-vous mon consentement?</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="contenu">
            <p class="lead">
                Lorsque vous nous fournissez des informations personnelles pour être mise en contact via nos différents services, nous impliquons que vous consentez à ce que nous les collections et les utilisions pour cette raison spécifique uniquement.
                Si nous demandons vos informations personnelles pour une raison secondaire, telle qu nous vous demanderons directement votre consentement exprès ou vous offrirons la possibilité de dire non.
            </p>
        </div>
        <div class="title text-center mb-3">
            <h4 class="fw-bold"> Comment retirer mon consentement ?</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="contenu">
            <p class="lead">
                Après votre inscription, si vous changez d'avis, vous pouvez retirer votre consentement à ce que nous vous contactions, pour la collecte, l'utilisation ou la divulgation continue de vos informations, à tout moment, en nous contactant à papaamadem@gmail.com ou en nous envoyant un courrier électronique. nous à : Ker gui Service sicap Liberté 6 Dakar Sénégal / code postal : 22000.
            </p>
        </div>
        <div class="title text-center mb-3">
            <h4 class="fw-bold"> Comment vous garantissez ma securité ?</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="contenu">
            <p class="lead">
                Pour protéger vos informations personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l'industrie pour nous assurer qu'elles ne sont pas perdues, utilisées à mauvais escient, consultées, divulguées, modifiées ou détruites de manière inappropriée.
            </p>
        </div>
        <div class="title text-center mb-3">
            <h4 class="fw-bold">Que faire pour mes éventuelles questions ?</h4>
            <hr class="border-3 opacity-100">
          </div>
          <div class="contenu mb-5">
            <p class="lead">
                Si vous souhaitez : accéder, corriger, modifier ou supprimer les informations personnelles que nous détenons à votre sujet, déposer une plainte ou simplement obtenir plus d'informations, contactez notre responsable de la conformité à la confidentialité à papaamadem@gmail.com ou par courrier à Ker gui Service Sicap Liberté 6 Dakar Sénégal Code postal :  22000
            </p>
        </div>
    </div>
   


</div>
