
<div class="admingestioncontainer mt-5">
    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#list-employeur" role="tab" aria-controls="list-employeur" aria-selected="true">Liste des employeurs</a>
        <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#list-employe" role="tab" aria-controls="list-employe" aria-selected="false">Liste des employés</a>
       
    </nav>
    
    
    <div class="tab-content" id="orders-table-tab-content">

        <!-- tableau employeur -->
        <div class="tab-pane fade show active" id="list-employeur" role="tabpanel" aria-labelledby="orders-all-tab">
            <div class="app-card app-card-orders-table shadow-sm mb-5">
                <div class="app-card-body">
                    <div class="table-responsive">
                        <table class="table app-table-hover mb-0 text-left">
                            <thead>
                                <tr>
                                    <th class="cellhead">prenom</th>
                                    <th class="cellhead">Nom</th>
                                    <th class="cellhead">Email</th>
                                    <th class="cellhead">Adresse</th>
                                    <th class="cellhead">Action</th>
                                    <!-- <th class="cell">Total</th>
                                    <th class="cell"></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of userData.data ">
                                    <td class="cell"> {{element.prenom}} </td>
                                    <td class="cell">  {{element.nom}} </td>
                                    <td class="cell"> {{element.email}} </td>
                                    <td class="cell"> {{element.lieu}} </td>
        
                                    <td class="cell">
                                        <div class="iconegestion d-flex justify-content-around w-50   ">
                                            <a href=""><i class="bi bi-eye"></i></a>
                                            <a href=""  data-bs-toggle="modal" data-bs-target="#exampleModal-modifier"><i class="bi bi-save-fill"></i></a>
                                           
                                        </div>
                                    </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div><!--//table-responsive-->
                   
                </div><!--//app-card-body-->		
            </div><!--//app-card-->
            <nav class="app-pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav><!--//app-pagination-->
            
        </div>
        

        <!-- tableau employé -->
        <div class="tab-pane fade" id="list-employe" role="tabpanel" aria-labelledby="list-employe">
            <div class="app-card app-card-orders-table mb-5">
                <div class="app-card-body">
                    <div class="table-responsive">
                        
                        <table class="table mb-0 text-left">
                            <thead >
                                <tr>
                                    <th class="cellhead" >Prenom</th>
                                    <th class="cellhead">Nom</th>
                                    <th class="cellhead">Telephone</th>
                                    <th class="cellhead">Adresse</th>
                                    <th class="cellhead">Pofession</th>
                                    <th class="cellhead"> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cell">rokhaye</td>
                                    <td class="cell">Ndiaye</td>
                                    <td class="cell">778315292</td>
                                    <td class="cell"> Thiaroye</td>
                                    <td class="cell">Cuisiniere</td>
                                    <td class="cell">
                                        <div class="iconegestion d-flex justify-content-around w-50   ">
                                            <a href=""><i class="bi bi-eye"></i></a>
                                            <a href=""  data-bs-toggle="modal" data-bs-target="#exampleModal-modifier"><i class="bi bi-save-fill"></i></a>
                                        </div>
                                    </td>
                                   
                                </tr>
                                
                        

                            </tbody>
                        </table>
                    </div><!--//table-responsive-->
                </div><!--//app-card-body-->		
            </div><!--//app-card-->
        </div>
      
    </div>

</div>

<!-- modal detail -->
