<div class="admingestioncontainer mt-5">
    <div class="container">
        <div class="row g-4 ">
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4" *ngIf="dataCandidat">
                  <h4 class="stats-type mb-1">Total Candidats</h4>
                  <div class="stats-figure">{{dataCandidat.length}} </div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4">
                  <h4 class="stats-type mb-1">Total Employeurs</h4>
                  <div class="stats-figure">{{tailleEmployeur}}</div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4"*ngIf="allpublication">
                  <h4 class="stats-type mb-1">Total Annonces</h4>
                  <div class="stats-figure"> {{allpublication.length}} </div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
            <div class="col-6 col-lg-3">
              <div class="app-card app-card-stat shadow-sm h-100">
                <div class="app-card-body p-3 p-lg-4" *ngIf="allprofession ">
                  <h4 class="stats-type mb-1">Total Services</h4>
                  <div class="stats-figure"> {{allprofession.length}} </div>
                  <div class="stats-meta text-success">
          </div>
                </div><!--//app-card-body-->
                <a class="app-card-link-mask" href="#"></a>
              </div><!--//app-card-->
            </div>
          </div>

          <h4 class="mt-4 "> Liste des publications</h4>

          <div class="searchbar mb-5 mt-5">
            <div class="d-flex justify-content-end">
                <div class="input-group w-50 ">
                    <input type="search" class="form-control rounded " placeholder="Rechercher" aria-label="Rechercher"  aria-describedby="search-addon" [(ngModel)]="searchpublication" (input)="getArticlesPage()"  />
                    <button type="button   " class="btn text-white" data-mdb-ripple-init  >rechercher</button>
                  </div>

            </div>
          </div>

          <div class="row  mt-4">
            <!-- <div class="col-sm-12 col-md-6 col-lg-4 mb-3 shadow-sm" *ngFor="let element of getArticlesPage()" style="width: 20rem;">
              <article class="u-shadow-v11">
                  <img class="img-fluid w-100" src="http://127.0.0.1:8000/storage/{{element.image}}" alt="Gravity">
                  <div class="g-bg-warning " id="description">
                    <div class="d-flex justify-content-around">
                      <div class="d-flex mt-2">
                        <h5 class="">Date limite : </h5>
                        <h6 class="ms-2 "> {{element.dateline}} </h6>
                      </div>
                      <div class="">
                     <h6 class="mb-2 ms-2"> <i class="bi bi-person-fill" style="font-size: 1.5rem; color: #3A6A7E;"></i> {{element.user.prenom}} {{element.user.nom}}</h6>
                      </div>

                    </div>
                    <div class="text-center my-1">
                      <h5> {{element.profession.nom_prof}} </h5>
                    </div>
                      <h3 class="h5 p-md-4 mb-2">
                         Description
                      </h3>
                      <p class="px-3">{{element.description}}</p>
                      <div class="iconegestion d-flex justify-content-around w-50 mb-1  mt-1">
                    </div>
                      <hr class="">
                      <button href="" class="text-center validpubli text-decoration-none py-1  mb-2" [routerLink]="['/detail-offre', element.id]"  > Voir Détails <span class="lnr lnr-arrow-right ms-2"></span></button>
                  </div>
              </article>
          </div> -->


          <div class="col-lg-4 col-sm-6" *ngFor="let element of getArticlesPage()" style="width: 20rem;">
            <div class="card">
              <img class="card-img-top" src="http://127.0.0.1:8000/storage/{{element.image}}"  style="height: 12rem;" alt="">
              <div class="card-body " id="description">
                <h5 class="card-title text-center">
                  {{element.profession.nom_prof}}
                </h5>
                <div class="">
                  <div class="d-flex">
                    <p class="">date limite : </p>
                    <p   class="ms-2 "> {{element.dateline}} </p>
                  </div>
                  <div class="">
                 <p class="mb-2 ms-2"> <i class="bi bi-person-fill" style="font-size: 1.5rem; color: #3A6A7E;"></i> {{element.user.prenom}} {{element.user.nom}}</p>
                  </div>


                </div>
                <div class=" text-center">
                  <button type="button" class="btn btn-primary mb-5"> ajouter</button>
                </div>
              </div>
            </div>
          </div>
          </div>

    </div>


    <!-- pagination -->
<div class="d-flex flex-wrap justify-content-center my-5 " id="pagination">
  <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn pagiColore ms-2"
          *ngFor="let page of pages"
          [class.current]="page === pageActuelle"
          (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn pagiColor ms-2"
          [disabled]="pageActuelle === totalPages"
          (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>

</div>

