hr{
    height: 8px !important;
    border-color: var(--kergui-green) !important;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }
  .title h4{
    color: var(--kergui-blue);
  }
  
  
  /* style baniere */
  .banner{
      background: url(src\assets\image\fonctionnement.png);
      height: 80vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;
  
  }
 
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 54, 104, 0.5); */
      
   
    }
  .banner h2{
      font-size: 40px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      
  }

  /* style cardfunctionnement debut */

  /* service carte */
  .bigdiv{
    border: 3px solid var(--kergui-green);
    height: 360px;
    width: 340px;
    margin-top: 40px;
    
}
.petitdiv{
    border: 4px solid var(--kergui-blue);
    height: 370px;
    width: 350px;
    background-color: white;
    position: relative;
    bottom: 30px;
    right: 40px;
}

.tofservice{
    height: 90px; 
    width: 90px;
    
    border-radius: 50%;
    border: 5px solid white;
    border-left-color: var(--kergui-green);
    border-bottom-color: var(--kergui-green); 
    margin: 0 auto;
    
}
.tofservice img{
height: 80px;
width: 80px;
border-radius: 50%;
}

.carteconatiner{
    position: relative;
    bottom: 40px;
    left: 40px;
}

  /* style carte fonctionnement fin */

  /* style fonctionnement employé debut*/

  
    .fonctionnementemployécontainer   .left ul li{
         list-style-type: none;
         color: white;
         font-size:  17px;
         padding-top: 14px;
    }
   .fonctionnementemployécontainer .left{
        border-radius: 20px 0px 0px 20px;
        background: var(--kergui-blue); 
        padding: 60px;       
    }
  .fonctionnementemployécontainer  .right{
        border-radius: 0px 20px 20px 0px;
        padding: 0px;
        
    }
  .fonctionnementemployécontainer  .right img{
        border-radius: 0px 20px 20px 0px;
        width: 100%;

    }
  /* style fonctionnement employé fin */

  /* style choice ker gui srvice debut */
  .choicecontainer{
    width: 75%;
    margin-left: 13%;
  }
.choicecontainer .topimage{
    border-radius: 150px 600px 195px 200px;
    /* border: 2px solid gold; */
    width: 307px;
    height: 217px;
    margin: 0 auto;
}
.choicecontainer .topimage img{
    border-radius: 150px 600px 195px 200px;
    box-shadow: 2px 2px 2px 0px #3A6A7E, -2px -2px 2px 0px #3A6A7E;
    width: 307px;
    height: 217px;
}
.choicecontainer  h6{
    color: var(--kergui-green);
    font-weight: bold;
    font-size: 18px;
}
.choicecontainer  p{
   font-size: 16px;
}

  /* style choice ker gui service fin */
   
  /* style section employeur fonctionnement debut*/

.fonctionnementemployeurcontainer .left{
    border-radius: 20px 0px 0px 20px;
    padding: 0px;
}
.fonctionnementemployeurcontainer .left img{
    border-radius: 20px 0px 0px 20px;
    width: 100%;
}

.fonctionnementemployeurcontainer .right{
background-color: var(--kergui-blue);
color: white;
padding: 20px;
border-radius: 0px 20px 20px 0px;
}

.fonctionnementemployeurcontainer .right h6{
font-size: 18px;
}
.fonctionnementemployeurcontainer .right p{
font-size: 15px;

}

  /* style section employeur fonctionnemnt fin */