<app-header></app-header>
<div class="fonctionnemntcontainer">
    <section class="baniere">
        <div class="banner">
            <div class="banner">
                <div class="banner">
                    
                    <div class="overlay"></div>
                    <h2 class="text-center  w-50"> A propos</h2>
                        
                </div>
            </div>
        </div>
    </section>

    <!-- section top debut -->
        <section class="firstsection mt-5">
            <div class="cardfunctionontainer ">
                <div class="carteconatiner">
                    <div class="container">
                        <div class="title text-center mb-3">
                            <h4 class="fw-bold"> Comment fonctionne Ker gui service</h4>
                            <hr class="border-3 opacity-100">
                          </div>
                      <div class="row">
                        <div class="col-md-6 col-lg-4 ">
                          <div class="bigdiv ">
                            <div class="petitdiv px-2">
                              <div class="mak">
                                <div class="tofservice my-2">
                                  <img
                                    src="https://img.freepik.com/photos-gratuite/femme-travaillant-ordinateur-portable_53876-163217.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div
                                class="titleservice d-flex justify-content-center my-2"
                              >
                                <h6 class="fw-bold text-center text-center mt-3">Vous êtes un personnel de maison</h6>
                              </div>
                              <div class="textsevice text-center fw-medium mt-3">
                                <p>
                                    Entrer dans notre plateforme pour vous inscrire et mettre votre profil à la disposition de nos visiteurs. Et profitez des avantages que l’on offres.
                                </p>
                              </div>
                             
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <div class="bigdiv">
                            <div class="petitdiv px-2">
                              <div class="mak">
                                <div class="tofservice my-2">
                                  <img
                                    src="https://img.freepik.com/photos-premium/ux-graphic-designer-planning-application-process-development-prototype-wireframe-for-web-smart-phone-and-generative-ai_28914-16434.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div
                                class="titleservice d-flex justify-content-center my-2"
                              >
                                <h6 class="fw-bold text-center mt-3">Vous êtes à la recherche de personnel de maison</h6>
                              </div>
                              <div class="textsevice text-center fw-medium mt-3">
                                <p>
                                    Entrer dans notre plateforme pour vous inscrire et vous aurez à votre disposition un éventail de profil à mène de vous satisfaire  
                                </p>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <div class="bigdiv">
                            <div class="petitdiv px-2">
                              <div class="mak">
                                <div class="tofservice my-2">
                                  <img
                                    src="https://img.freepik.com/photos-gratuite/concepteur-travail_1098-15848.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais"
                                    alt=""
                                  />
                                </div>
                              </div>
                              <div
                                class="titleservice d-flex justify-content-center my-2"
                              >
                                <h6 class="fw-bold text-center mt-3">Beneficiez de tous les avantages de la plateforme </h6>
                              </div>
                              <div class="textsevice text-center fw-medium">
                                <p class="mt-3">
                                    En outre la mise en relation la plateforme se diversifie, avec la possibilité de poster des offres et des publication et même de faire passer des publicités.
                                </p>
                              </div>
                             
                            </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
            </div>
        </section>
    <!-- section top fin -->


    <!-- section fonctionnement employé debut -->
    <section class="employéfonctionnement mt-5">
        <div class="fonctionnementemployécontainer">
            <div class="container">
                <div class="row">
                    <div class=" left col-md-6 col-lg-6">
                        <h4 class="text-center fw-bold text-white">Voici le nouveau moyens d’être en contact avec vos employeurs</h4>
                        <ul class="mt-5">
                            <li><span class="lnr lnr-arrow-right-circle"></span> Inscrivez-vous et  profiter pour profiter pleinemen </li>
                            <li><span class="lnr lnr-arrow-right-circle"></span> Soyez en contact direct avec des potentiels employeur </li>
                            <li><span class="lnr lnr-arrow-right-circle"></span> Possibilité de mettre à jour vos informations </li>
                            <li><span class="lnr lnr-arrow-right-circle"></span> Des annonces pour bénéficier d’opportunnuité </li>
                        </ul>
                    </div>
                    <div class=" right col-md-6 col-lg-6">
                        <img src="https://media.istockphoto.com/id/1409764308/photo/portrait-of-a-young-salesman-holding-plants-at-a-garden-center.jpg?s=612x612&w=0&k=20&c=vNvz84AeACkw43gBvl4E9ZvVdEbZ-xQhM5YcNUO51F0=" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section fonctionement employé fin -->

    <!-- section choix de ker gui service  debut-->

    <section class="choicekergui mt-5" >
        <div class="container">
            <div class="title text-center mb-3">
                <h4 class="fw-bold"> pourquoi choisir ker gui service</h4>
                <hr class="border-3 opacity-100">
              </div>
            <div class="choicecontainer bg-danger">
                  <div class="row">
                    <div class="col-md-6 col-lg-6 ">
                        <div class="topimage">
                            <img src="https://img.freepik.com/free-vector/generating-new-leads-concept-illustration_114360-7654.jpg?size=626&ext=jpg&ga=GA1.2.1427853960.1704321632" alt="">
                        </div> 
                        <h6> Rapidité</h6>
                        <p class="text-center">Garanti la rapidité dans la mise en relation des différents parties</p>
                    </div>
                    <div class="col-md-6 col-lg-6 ">
                        <div class="topimage">
                            <img src="https://img.freepik.com/free-vector/generating-new-leads-concept-illustration_114360-7654.jpg?size=626&ext=jpg&ga=GA1.2.1427853960.1704321632" alt="">
                        </div> 
                        <h6> Rapidité</h6>
                        <p class="text-center">Garanti la rapidité dans la mise en relation des différents parties</p>
                    </div>
                    

                     
                  </div>
            </div>

        </div>
    </section>


    <!-- section choix de ker gui service fin -->

</div>
<app-footer></app-footer>
