<div class="app-header ">
    <div id="app-sidepanel" class="app-sidepanel"> 
        <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
            <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
            <div class="logo-dashboard">
                <a class="app-logo"  routerLink="/accueil"><img class="logo-icon me-2" src=".\assets\image\logo kergui.png" alt="logo"></a>
    
            </div>
            
            <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
                <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link  active" routerLink="/admin/home-admin">
                            <i class="bi bi-speedometer2 nav-icon "></i>
                             <span class="nav-link-text ">Dashboad</span>
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="/admin/service-admin">
                            <span class="nav-icon">
                              <span class="lnr lnr-briefcase"></span>
                             </span>
                             <span class="nav-link-text">Services</span>
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link"  routerLink="/admin/utilisateur-admin" >
                            <span class="nav-icon">
                              <span class="lnr lnr-users"></span>
                             </span>
                             <span class="nav-link-text"> Utulisateur</span>
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" >
                        <a class="nav-link" routerLink="/admin/publication-admin">
                            <span class="nav-icon">
                              <span class="lnr lnr-file-empty"></span>
                             </span>
                             <span class="nav-link-text">Publication</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

