<div class="admingestioncontainer mt-5">
    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <!-- <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#list-employeur" role="tab" aria-controls="list-employeur" aria-selected="true">Liste des employeurs</a> -->
        <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#list-employe" role="tab" aria-controls="list-employe" aria-selected="false"> Liste des postulants</a>
       
    </nav>
    
    
    <div class="tab-content" id="orders-table-tab-content">

        <!-- tableau employeur -->
        
        

        <!-- tableau employé -->
        <div class="tab-pane fade" id="list-employe" role="tabpanel" aria-labelledby="list-employe">
            <div class="app-card app-card-orders-table mb-5">
                <div class="app-card-body">
                    <div class="table-responsive">
                        
                        <table class="table mb-0 text-left">
                            <thead >
                                <tr>
                                    <th class="cellhead" >Date de creation</th>
                                    <th class="cellhead">Derniere modification</th>
                                    <th class="cellhead">Date de candidature</th>
                                    <th class="cellhead">Etat</th>
                                    <th class="cellhead"> Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let candidat of mycandidatData">
                                    <td class="cell">{{candidat.created_at | date:'dd-MM-yyyy' }} </td>
                                    <td class="cell">{{candidat.updated_at | date:'dd-MM-yyyy' }} </td>
                                    <td class="cell"> {{candidat.dateSoum | date:'dd-MM-yyyy' }} </td>
                                    <td class="cell" [ngClass]="{'text-success': candidat.etatCan === 'accepter', 'text-danger': candidat.etatCan === 'rejeter'}">
                                        {{candidat.etatCan}} 
                                    </td>
                                    <td class="cell" >
                                     
                                        <select class="form-select" aria-label="votre choix" name="civilite" [(ngModel)]="etatCan" >
                                            <option value="">votre choix</option>
                                            <option value="accepter">accepter</option>
                                            <option value="rejeter">rejeter</option>
                                
                                          </select>
                                        <button class="btn btn-warning mt-2"(click)="validationCandidat(candidat.id)" >valider</button>
                                    </td>
                                   
                                </tr>
                                
                        

                            </tbody>
                        </table>
                    </div><!--//table-responsive-->
                </div><!--//app-card-body-->		
            </div><!--//app-card-->
        </div>
      
    </div>

</div>