<div class="admingestioncontainer mt-5">
    <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <!-- <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#list-employeur" role="tab" aria-controls="list-employeur" aria-selected="true">Liste des employeurs</a> -->
        <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#list-employe" role="tab" aria-controls="list-employe" aria-selected="false"> Liste des postulants</a>
       
    </nav>
    
    
    <div class="tab-content" id="orders-table-tab-content">

        <!-- tableau employeur -->
        
        

        <!-- tableau employé -->
        <div class="tab-pane fade" id="list-employe" role="tabpanel" aria-labelledby="list-employe">
            <div class="app-card app-card-orders-table mb-5">
                <div class="app-card-body">
                    <div class="table-responsive">
                        
                        <table class="table mb-0 text-left">
                            <thead >
                                <tr>
                                    <th class="cellhead" >Date de publication</th>
                                    <th class="cellhead">Derniere modification</th>
                                    <th class="cellhead">Date de candidature</th>
                                    <th class="cellhead">Etat</th>
                                    <th class="cellhead"> Action</th>
                                    <th class="cellhead"> validation</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let candidat of datacandidatOffre">
                                    <td class="cell">{{candidat.created_at | date:'dd-MM-yyyy' }} </td>
                                    <td class="cell">{{candidat.updated_at | date:'dd-MM-yyyy' }} </td>
                                    <td class="cell"> {{candidat.dateSoum | date:'dd-MM-yyyy' }} </td>
                                    <td class="cell" [ngClass]="{'text-success': candidat.etatCan === 'accepter', 'text-danger': candidat.etatCan === 'rejeter'}">
                                        {{candidat.etatCan}} 
                                    </td>
                                    <td class="cell">
                                        <div class="iconegestion d-flex justify-content-around w-50   ">
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal-detail" (click)="afficherDetailCandidat(candidat.user_id)"  ><i class="bi bi-eye"></i></a>
                                            <a  ><span class="lnr lnr-trash ms-3" (click)="supprimerCandidature(candidat.id)" ></span></a>
                                        </div>
                                    </td>  
                                    <td class="cell " >
                                        <select class="form-select w-75" aria-label="votre choix" name="civilite" [(ngModel)]="etatCan" >
                                            <option value="">votre choix</option>
                                            <option value="accepter">accepter</option>
                                            <option value="rejeter">rejeter</option>
                                          </select>
                                        <button class="btn btn-warning mt-2 text-white"(click)="validationCandidat(candidat.id)" >valider</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--//table-responsive-->
                </div><!--//app-card-body-->		
            </div><!--//app-card-->
        </div>
      
    </div>

</div>



<!-- modal  detail  -->

<div class="modal fade " id="exampleModal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title  " id="exampleModalLabel">Detail profession</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">   
                  <div class="">
                   <div class="row" *ngIf="candidatSelectionner">
                    <div class="col-4 " id="tof">
                        <img src="http://127.0.0.1:8000/storage/{{candidatSelectionner.imageDeProfil}}" alt="">
                        
                    </div>
                    <div class="col-8 ">
                        <div>
                            <h5 class="ms-3"> {{candidatSelectionner.nomProfession}} </h5>
                        </div>
                        
                        <div class="d-flex mb-2">
                            <h6>prenom :  {{candidatSelectionner.prenom}} </h6>
                            <h6 class="ms-3">nom : {{candidatSelectionner.nom}}   </h6>
                        </div>
                        
                        <div class="d-flex mb-2">
                            <h6> mail:  {{candidatSelectionner.email}} </h6>
                            <h6 class="ms-3"> telephone : {{candidatSelectionner.telephone}} </h6>
                        </div>
                        <div class="d-flex mb-2">
                            <h6> Adresse: {{candidatSelectionner.lieu}}  </h6>
                            <h6 class="ms-3">Telephone : {{candidatSelectionner.dateNaissance}}  </h6>
                        </div>
                        <div class="d-flex mb-2">
                            <h6> Experience: {{candidatSelectionner.experienceProf}}  </h6>
                            <h6 class="ms-3">Langue : {{candidatSelectionner.langueParler}}  </h6>
                        </div>
                     
                        <div>
                            <h6>presentation</h6>
                            <p> {{candidatSelectionner.presentation}} </p>

                        </div>
                   </div>
                  </div>
                  <div class="validajout d-flex justify-content-end">
                    <button href="" class="btn btn-secondary" data-bs-dismiss="modal"> Fermer</button>
                  </div>

                  
           
        </div>
     
      </div>
    </div>
  </div>
<!-- modal fin -->
